<li id="assessment-information-tasks">
  <h2 class="app-task-list__section">
    Add assessment information
  </h2>
  <ul class="app-task-list__items">
    <% AssessmentDetail.categories.keys.excluding("past_applications").each do |category| %>
      <li class="app-task-list__item" id="<%= category %>-tasklist-item">
        <%= @planning_application.assessment_detail_tasklist(category) %>
      </li>
    <% end %>
  </ul>
</li>
