<li id="assessment-information-tasks">
  <h2 class="app-task-list__section">
    Add assessment information
  </h2>
  <ul class="app-task-list__items">
    <% AssessmentDetail.categories.keys.excluding("past_applications").each do |category| %>
      <%= render(
        TaskListItems::AssessmentDetailComponent.new(
          planning_application: @planning_application,
          category: category
        )
      ) %>
    <% end %>
  </ul>
</li>
