<li id="assessment-information-tasks">
  <h2 class="app-task-list__section">
    Add assessment information
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <%= @planning_application.summary_of_works_tasklist %>
    </li>
  </ul>
</li>
