<li id="assessment-information-tasks">
  <h2 class="app-task-list__section">
    Assessor remarks (optional)
  </h2>

  <ul class="app-task-list__items">
    <% AssessmentDetail.category_keys.each do |category| %>
      <%= render(
        TaskListItems::AssessmentDetailComponent.new(
          planning_application: @planning_application,
          category: category
        )
      ) %>
    <% end %>
  </ul>
</li>
