<li id="check-consistency-assessment-tasks">
 <h2 class="app-task-list__section">
   Check consistency
 </h2>
 <ul class="app-task-list__items">
   <li class="app-task-list__item">
     <span class="app-task-list__task-name">
        Description, documents and proposal details
     </span>
   </li>
 </ul>
</li>
