<li id="complete-assessment-tasks">
  <h2 class="app-task-list__section">
    Complete assessment
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <%= @planning_application.review_documents_tasklist %>
    </li>
  </ul>
</li>
