<h2 class="govuk-heading-m">Summary of pre-commencement conditions</h2>

<% if @planning_application.pre_commencement_condition_set.approved_conditions.any? %>
  <ol class="govuk-list govuk-list--number">
    <% @planning_application.pre_commencement_condition_set.approved_conditions.each do |condition| %>
      <li>
        <p><strong><%= condition.title %></strong></p>
        <%= render(FormattedContentComponent.new(text: condition.text)) %>
        <%= render(FormattedContentComponent.new(text: condition.reason)) %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p class="govuk-body">There are no approved pre-commencement conditions.</p>
<% end %>
