<h2 class="govuk-heading-m">Summary of pre-commencement conditions</h2>
<% if @planning_application.pre_commencement_condition_set&.approved_conditions.present? %>
  <ol class="govuk-list govuk-list--number">
    <% @planning_application.pre_commencement_condition_set.approved_conditions.sorted.each do |condition| %>
      <li>
        <p class="govuk-body govuk-!-margin-bottom-2">
          <% if condition.title? %>
            <strong class="govuk-!-font-weight-bold"><%= condition.title %></strong><br>
            <%= render(FormattedContentComponent.new(text: condition.text)) %>
          <% else %>
            <strong class="govuk-!-font-weight-bold">
              <%= render(FormattedContentComponent.new(text: condition.text)) %>
            </strong>
          <% end %>
        </p>
        <p class="govuk-body">
          <%= render(FormattedContentComponent.new(text: condition.reason)) %>
        </p>
      </li>
    <% end %>
  </ol>
<% else %>
  <p class="govuk-body">There are no pre-commencement conditions.</p>
<% end %>
