<%# locals: (form:, save_draft: true) %>

<% unless @planning_application.determined? %>
  <div class="govuk-button-group">
    <% if @form.read_only? && @task.validation_task? %>
      <%= form.govuk_task_button "Edit", action: "edit_form", secondary: true %>
    <% else %>
      <%= form.govuk_task_button t(".submit") do %>
        <% if save_draft %>
          <%= form.govuk_task_button t(".save_draft"), action: :save_draft, secondary: true %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
