<%# locals: (form:, save_draft: true) %>

<div class="govuk-button-group">
  <%= form.govuk_submit t(".submit") do %>
    <% if save_draft && !@task.completed? %>
      <%= form.button t(".save_draft"), class: "govuk-button govuk-button--secondary", value: :save_draft %>
    <% end %>
  <% end %>
</div>
