<%# locals: (task:) %>

<% add_parent_breadcrumb_link "Home", main_app.planning_application_path(task.case_record.planning_application) %>

<% if task.parent.parent.section == "Assessment" %>
  <% add_parent_breadcrumb_link "Assessment",
       main_app.planning_application_assessment_tasks_path(task.case_record.planning_application) %>
<% end %>

<% content_for :page_title do %>
  <%= task.title %>
  &mdash;
  <%= t("page_title") %>
<% end %>

<h1><%= task.title %></h1>

<%= render "shared/proposal_header" %>
