<%# locals: (task:, heading: nil) %>

<% add_parent_breadcrumb_link "Home", preapp_home_path %>

<% add_parent_breadcrumb_link "Application", main_app.planning_application_path(@planning_application) %>

<% if task.top_level_ancestor.section == "Assessment" %>
  <% add_parent_breadcrumb_link "Assessment",
       main_app.planning_application_assessment_tasks_path(task.case_record.planning_application) %>
<% end %>

<% page_heading = heading || task.title %>

<% content_for :page_title do %>
  <%= page_heading %>
  &mdash;
  <%= t("page_title") %>
<% end %>

<h1><%= page_heading %></h1>

<%= render "shared/proposal_header" %>
