<%# locals: (form:, save_draft: true) %>

<% unless @planning_application.determined? %>
  <div class="govuk-button-group">
    <%= form.govuk_task_button t(".submit") do %>
      <% if save_draft %>
        <%= form.govuk_task_button t(".save_draft"), action: :save_draft, secondary: true %>
      <% end %>
    <% end %>
  </div>
<% end %>
