<td class="govuk-table__cell change-request-list">
  Other <%= "(fee)" if other_change_validation_request.fee_item? %>
</td>
<td class="govuk-table__cell change-request-list">
  <%= simple_format(other_change_validation_request.summary) %>
</td>
