<td class="govuk-table__cell change-request-list">
  Other
</td>
<td class="govuk-table__cell change-request-list">
  <%= request_sent_at(other_change_validation_request) %>
</td>
<td class="govuk-table__cell change-request-list">
  <%= other_change_validation_request.summary %>
</td>
<td class="govuk-table__cell change-request-list">
  <%= other_change_validation_request.suggestion %>
</td>
