<%= render "shared/task_header", task: @task %>

<% validation_requests = @planning_application.requests_excluding_time_extension.where(post_validation: false) %>
<% cancelled_validation_requests = validation_requests.cancelled %>
<% active_validation_requests = validation_requests.active %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Validation requests
    </h2>

    <% if active_validation_requests.any? %>
      <% if @planning_application.not_started? %>
        <p>The following requests will be sent when the application is invalidated.</p>
      <% end %>

      <%= render(
            "planning_applications/validation/validation_requests/table",
            requests: active_validation_requests,
            planning_application: @planning_application
          ) %>
    <% else %>
      <p>There are no active validation requests.</p>
    <% end %>

    <% if cancelled_validation_requests.any? %>
      <%= render(
            "planning_applications/validation/validation_requests/cancelled_requests",
            requests: cancelled_validation_requests
          ) %>
    <% end %>

    <% if @planning_application.not_started? %>
      <p>
        <strong>
          The application has not been marked as valid or invalid yet.
        </strong>
      </p>
      <p>
        When all parts of the application have been checked and are correct, mark the application as valid.
      </p>
    <% end %>
  </div>
</div>
