<% if multiple_policy_classes? %>
  <div class="policy-class-scroll-links">
    <% if @policy_class.previous.present? %>
      <%= link_to(
            t(".view_previous_class"),
            edit_planning_application_review_policy_class_path(@policy_class.planning_application, @policy_class.previous),
            class: "govuk-link"
          ) %>
    <% end %>
    <% if @policy_class.next.present? %>
      <%= link_to(
            t(".view_next_class"),
            edit_planning_application_review_policy_class_path(@policy_class.planning_application, @policy_class.next),
            class: "govuk-link next-policy-class-link"
          ) %>
    <% end %>
  </div>
<% end %>
