<%= render "shared/task_header", task: @task %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "bops_preapps/tasks/check-and-assess/assessment-summaries/suggest-heads-of-terms/form", url: main_app.planning_application_assessment_term_path(@planning_application, @term, redirect_to: task_path(@planning_application, @task)) %>
  </div>
</div>
