<div class="govuk-form-group govuk-!-margin-bottom-2<%= ' govuk-form-group--error' if invalid? %>">
  <%= label_tag(
    "policy_class_policies_attributes_#{policy_index}_comments_attributes_0_text",
    policy_comment_label(comment),
    class: "govuk-label govuk-label--s"
  ) %>
  <% if invalid? %>
    <p class="govuk-error-message"><%= error_message %></p>
  <% end %>
  <%= text_area_tag(
    "policy_class[policies_attributes][#{policy_index}][comments_attributes][0][text]",
    default_text,
    id: "policy_class_policies_attributes_#{policy_index}_comments_attributes_0_text",
    class: "govuk-textarea govuk-!-margin-bottom-2#{' govuk-input--error' if invalid?}",
    rows: 2
  ) %>
</div>
