<% if constraints.any? %>
  <% constraints.each do |category, values| %>
    <div class="govuk-summary-card" id="site-constraints-<%= category %>">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          <%= category.humanize %>
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <% values.each do |value| %>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                <%= value.type_code %>
                <% if value.entities.present? %>
                  <ul class="govuk-list">
                    <% value.entities.each do |name, entity| %>
                      <% entity_name = name.present? ? name.titleize : "Entity ##{entity}" %>
                      <li><%= govuk_link_to entity_name, planning_data_entity_url(entity), new_tab: true %></li>
                    <% end %>
                  </ul>
                <% end %>
              </dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
<% end %>
