<% content_for :page_title do %>
  Consultees - Application information - <%= @planning_application.reference %>
<% end %>

<% presenters = consultee_presenters(@consultees.sorted, @planning_application) %>
<% tabs = consultee_tabs(presenters) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% consultation = @planning_application.consultation %>
    <h1 class="govuk-heading-l">Consultees</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render partial: "planning_applications/consultee/responses/consultee_tabs", locals: {tabs:, show_action: false} %>
      </div>
    </div>
  </div>
</div>
