<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>
      Enforcement cases
    </h1>
    <p class="govuk-body-m">
      <strong><%= current_user.name %>,</strong> <%= role_name %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <%= govuk_tabs do |tabs|
            tabs.with_tab(label: "All cases", id: "all") {
              render BopsEnforcements::PanelComponent.new(
                enforcements: @enforcements,
                type: :all,
                search: @search,
                attributes: @attributes
              )
            }
          end %>
    </div>
  </div>
</div>
