<td class="govuk-table__cell change-request-list">
  Replacement document
</td>
<% unless replacement_document_validation_request.cancelled? %>
  <td class="govuk-table__cell change-request-list limit-column-width">
    <%= replacement_document_validation_request.old_document.name %>
  </td>
<% end %>
<td class="govuk-table__cell change-request-list">
  <%= replacement_document_validation_request.invalidated_document_reason %>
</td>
