<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Validation tasks", planning_application_validation_tasks_path(@planning_application) %>
<% content_for :title, "Replacement document validation request" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-padding-top-6">
      View request for a replacement document
    </h1>

    <h3 class="govuk-heading-s">
      Officer request
    </h3>
    <div class="govuk-inset-text" id="replacement-document-details">
      <p class="govuk-body">
        Replacement for: <%= @replacement_document_validation_request.old_document.name %>
      </p>
      <p class="govuk-body">
        Reason: <%= @replacement_document_validation_request.invalidated_document_reason %>
      </p>
      <p class="govuk-body">
        <%= @replacement_document_validation_request.created_at.to_formatted_s(:day_month_year) %>
      </p>
    </div>

    <%= render "shared/validation_request_show_actions",
        planning_application: @planning_application, validation_request: @replacement_document_validation_request %>
  </div>
</div>
