<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_replacement_document_validation_request_path(@replacement_document_validation_request), class: "govuk-link" %> |
<%= link_to 'Back', replacement_document_validation_requests_path %>
