<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Item</th>
      <th scope="col" class="govuk-table__header">Detail</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Fee</th>
      <td class="govuk-table__cell"><%= number_to_currency (@planning_application.payment_amount), unit: '£' %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Payment Reference</th>
      <td class="govuk-table__cell"><%= @planning_application.payment_reference %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Description</th>
      <td class="govuk-table__cell"><%= @planning_application.description %></td>
    </tr>
  </tbody>
</table>
