# DOMAIN=bops.localhost:3000
# PAAPI_HOST=paapi.services
OS_VECTOR_TILES_API_KEY=jG3qeGypY23MAOAYTFt8UmccGJQjaaE3
# OTP_SECRET_ENCRYPTION_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# NOTIFY_API_KEY=xxxxx
# GROUPED_PROPOSAL_DETAILS_FEATURE=enabled
# GOOGLE_TAG_MANAGER_ID=GTM-XXXXXXXX
# UPLOADS_HOSTNAME=uploads.bops.localhost
# UPLOADS_BASE_URL=http://uploads.bops.localhost:3000
# USE_SIGNED_URLS=false
