<%= render "bops_preapps/pre_applications/tabs_layout" do %>
  <div class="govuk-tabs__panel" id="unassigned_pre_apps">
    <%= render PlanningApplications::PanelComponent.new(
          planning_applications: @planning_applications,
          type: :unassigned_pre_apps,
          search: @search,
          tab_route: :unassigned_pre_applications_path
        ) %>
  </div>
<% end %>
