<h3 class="govuk-body">Assign consultees based on identified constraints</h3>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Reason/constraint</th>
      <th class="govuk-table__header">Consultee</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @planning_application.planning_application_constraints.each do |constraint| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= constraint.type_code %></td>
        <td class="govuk-table__cell">
          <% if constraint.consultee.present? %>
            <%= constraint.consultee.name %>
          <% else %>
          <%= link_to "Assign consultee", new_planning_application_consultee_path(@planning_application, constraint: constraint), class: "govuk-link" %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <% @planning_application.consultation.consultees.unassigned.find_each do |consultee| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Other</td>
        <td class="govuk-table__cell">
          <%= consultee.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
