<% content_for :page_title do %>
  <%= t(".add_user") %> - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Users", users_path %>

<% content_for :title, t(".add_user") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t(".add_user") %>
    </h1>

    <%= render("form", user: @user) %>
  </div>
</div>
