<% content_for :page_title do %>
  <%= t(".consultee_overview") %> - <%= t("page_title") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      BOPS Consultees
    </h1>

    <% if @expired_resource %>
      <p><strong>Your magic link has expired</strong></p>

      <p>
        Contact <%= govuk_mail_to(current_local_authority.feedback_email) %> if you think there's a problem.
      </p>

      <%= govuk_button_to "Send a new magic link", resend_link_planning_application_path(params[:reference], sgid: params[:sgid]) %>
    <% end %>
  </div>
</div>
