<section id="planning-history-section">
  <h3 class="govuk-heading-s govuk-!-margin-top-5">
    Historical information related to the property or to adjoining properties
  </h3>

  <%= render "planning_applications/assessment/site_histories/table", site_histories: @planning_application.site_histories, show_action: false %>
</section>
