<% if @permitted_development_right.removed? %>
  <p>
    The permitted development rights have been removed for the following reasons:
  </p>
  <div class="govuk-inset-text">
    <p>
      <%= @permitted_development_right.removed_reason %>
    </p>
  </div>
<% elsif @permitted_development_right.removed == false %>
  <p>
    The permitted development rights have not been removed.
  </p>
<% else %>
  <p>
    There was no assessment for permitted development rights
  </p>
<% end %>

<%= govuk_link_to "Edit", edit_planning_application_assessment_permitted_development_rights_path(@planning_application) %>
