<% if proposal_details.any? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      <%= t(".related_questions") %>
    </caption>
    <% proposal_details.each do |proposal_detail| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <%= proposal_detail.question %>
        </th>
        <td class="govuk-table__cell">
          <%= proposal_detail.response_values.join(", ") %>
          <%= render(
            ProposalDetails::PolicyRefsComponent.new(
              policy_refs: proposal_detail.policy_refs
            )
          ) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
