<div class="govuk-body">
  <% if consultation = @planning_application.consultation %>
    <%= render "shared/notification_banner",
      banner_class: "govuk-notification-banner",
      role: "region",
      title: "View neighbour responses",
      heading: updated_neighbour_responses_summary_text(consultation.neighbour_responses, @assessment_detail) %>
  <% else %>
    <p>There is no existing consultation for this planning application.</p>
  <% end %>

  <% if action_name == "show" %>
    <h3 class="govuk-heading-s">Summary</h3>
  <% end %>
</div>
