<%= render "shared/warning_text",
    message: "This information will be made publicly available." %>

<section id="constraints-section">
  <h2 class="govuk-heading-s">
    Constraints - including Article 4 direction(s)
  </h2>

  <div class="govuk-!-margin-left-3 govuk-!-padding-bottom-4">
    <%= render "shared/constraints" %>
  </div>
</section>

<%= render "planning_application/immunity_details/planning_history" %>
