<h2>Immunity from enforcement</h2>

<p>Note: application may be immune from enforcement</p>

<h3>Applicant information</h3>
<ul class="govuk-body proposal-details-sub-list">
  <% @groups.each do |proposal_detail| %>
    <li>
      <%= proposal_detail.question %> <strong><%= proposal_detail.response_values.first %></strong>
    </li>
  <% end %>
</ul>
