<% if constraints.empty? %>
  <p class="govuk-body audit_details">
    No constraints identified by PlanX
  </p>
<% else %>
  <ul class="govuk-list govuk-list--bullet">
    <% constraints.each do |constraint| %>
      <li><%= constraint.name %></li>
    <% end %>
  </ul>
<% end %>
<% if planning_application.can_validate? %>
  <p class="govuk-body">
    <%= link_to(
      t(".update_constraints"),
      edit_planning_application_constraints_path(planning_application),
      class: "govuk-link"
    ) %>
  </p>
<% end %>
