<div class="govuk-accordion" data-module="govuk-accordion" data-remember-expanded="false">
  <% sections.each do |section| %>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h3 class="govuk-accordion__section-heading">
          <button type="button" class="govuk-accordion__section-button" id="accordion-default-heading-<%= "#{section}" %>">
            <%= t(".#{section}") %>
          </button>
          <span class="govuk-accordion__icon"></span>
        </h3>
      </div>
      <div class="govuk-accordion__section-content">
        <%= render(section_component(section)) %>
      </div>
    </div>
  <% end %>
</div>
