<header class="environment-banner">
  <div class="govuk-width-container">
    <p class="govuk-!-margin-bottom-0">
      This is <%= Bops.env %>. Only process test cases on this version of BOPS
    </p>
  </div>
</header>
