<% if errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= title %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% error_messages.each do |error| %>
          <li><%= error.html_safe %></li> <%# erblint:disable ErbSafety %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
