<h1 class="govuk-heading-l govuk-!-margin-top-7">
  Permitted development rights
</h1>

<%= render "shared/planning_application_address_and_reference" %>

<%= render "shared/warning_text",
    message: "This information WILL be made public" %>

<section id="constraints-section">
  <h2 class="govuk-heading-m">
    Constraints - including Article 4 direction(s)
  </h2>

  <%= render "shared/constraints" %>
</section>

<%= render "planning_application/permitted_development_rights/planning_history" %>
