<h1 class="govuk-heading-l govuk-!-margin-top-7">
  Permitted development rights
</h1>

<%= render "shared/planning_application_address_and_reference" %>

<%= render "shared/warning_text",
    message: "This information WILL be made public" %>

<%= render "constraints" %>

<%= render "planning_history" %>
