<h2>
  Check application details
</h2>
<%= govuk_task_list(id_prefix: "application-details-tasks", html_attributes: {id: "application-details-tasks"}) do |task_list|
      render Validation::DrawRedLineBoundaryTask.new(@planning_application, task_list:)

      render Validation::CheckRedLineBoundaryTask.new(@planning_application, task_list:)

      render Validation::CheckConstraintsTask.new(@planning_application, task_list:)

      render Validation::CheckDescriptionTask.new(@planning_application, task_list:)

      render Validation::ReportingDetailsTask.new(@planning_application, task_list:)

      render Validation::CheckLegislationDescriptionTask.new(@planning_application, task_list:)
    end %>
