<h2 class="govuk-heading-m">
  Confirm application requirements
</h2>

<%= govuk_task_list(id_prefix: "application-requirements-tasks", html_attributes: {id: "application-requirements-tasks"}) do |task_list|
      render Validation::FeeValidationTask.new(@planning_application, task_list:)

      render Validation::CilLiabilityTask.new(@planning_application, task_list:)

      render Validation::EnvironmentalImpactAssessmentTask.new(@planning_application, task_list:)

      render Validation::OwnershipCertificateTask.new(@planning_application, task_list:)
    end %>
