<h2 class="govuk-heading-m">
  Check application details
</h2>
<%= govuk_task_list(id_prefix: "application-details-tasks", html_attributes: {id: "application-details-tasks"}) do |task_list|
      render(partial: "workflow_task", locals: {
        task: Validation::DrawRedLineBoundaryTask.new(@planning_application),
        task_list:
      })

      render(partial: "workflow_task", locals: {
        task: Validation::CheckRedLineBoundaryTask.new(@planning_application),
        task_list:
      })

      render(partial: "workflow_task", locals: {
        task: Validation::CheckConstraintsTask.new(@planning_application),
        task_list:
      })

      render(partial: "workflow_task", locals: {
        task: Validation::CheckDescriptionTask.new(@planning_application),
        task_list:
      })

      render(partial: "workflow_task", locals: {
        task: Validation::ReportingDetailsTask.new(@planning_application),
        task_list:
      })

      render(partial: "workflow_task", locals: {
        task: Validation::CheckLegislationDescriptionTask.new(@planning_application),
        task_list:
      })
    end %>
