<li id="check-tag-documents-tasks">
  <h2 class="app-task-list__section">
    Check and tag supplied documents
  </h2>

  <ul class="app-task-list__items">
    <% if !@planning_application.validated? %>
      <% if @planning_application.documents.active.empty? %>
        <li id="check-supplied-document" class="app-task-list__item">
          <span class="app-task-list__task-name">
            There are no active documents
          </span>
        </li>
      <% else %>
        <% @planning_application.documents.active.each_with_index do |document, index| %>
          <% next unless document.representable? %>
          <%= render(
            TaskListItems::DocumentComponent.new(
              planning_application: @planning_application,
              document: document
            )
          ) %>
        <% end %>
      <% end %>
    <% else %>
      <li id="check-supplied-document" class="app-task-list__item">
        <span class="app-task-list__task-name">
          Planning application has already been validated
        </span>
      </li>
    <% end %>
  </ul>
</li>
