<h2>
  Check, tag and confirm documents
</h2>
<%= govuk_task_list(id_prefix: "confirm-documents-tasks", html_attributes: {id: "confirm-documents-tasks"}) do |task_list|
      render Validation::CheckSuppliedDocumentsTask.new(@planning_application, task_list:)

      render Validation::CheckMissingDocumentsTask.new(@planning_application, task_list:)

      render Validation::RedactDocumentsTask.new(@planning_application, task_list:)
    end %>
