<li id="environment-impact-assessment-task">
  <h2 class="app-task-list__section">
    Environment Impact Assessment (EIA)
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to "Check Environment Impact Assessment",
         @planning_application.environment_impact_assessment.nil? ? new_planning_application_validation_environment_impact_assessment_path(@planning_application) : planning_application_validation_environment_impact_assessment_path(@planning_application), 
         class: "govuk-link" %>
      </span>

      <%= render(
        StatusTags::BaseComponent.new(
          status: @planning_application.environment_impact_assessment_status
        )
      ) %>
    </li>
  </ul>
</li>
