<li id="ownership-certificate-validation-task">
  <h2 class="app-task-list__section">
    Ownership certificate
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to "Check ownership certificate", edit_planning_application_validation_ownership_certificate_path(@planning_application), class: "govuk-link" %>
      </span>
      <%= render(
            StatusTags::OwnershipCertificateComponent.new(
              planning_application: @planning_application
            )
          ) %>
    </li>
  </ul>
</li>
