<li id="development-type-for-reporting-task">
  <h2 class="app-task-list__section">
    Development type for reporting
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to "Select development type for reporting", edit_planning_application_validation_reporting_type_path(@planning_application), class: "govuk-link" %>
      </span>

      <%= render(
        StatusTags::BaseComponent.new(
          status: @planning_application.reporting_type_status
        )
      ) %>
    </li>
  </ul>
</li>
