<h2 class="govuk-heading-m">
  Review
</h2>

<%= govuk_task_list(id_prefix: "review-tasks", html_attributes: {id: "review-tasks"}) do |task_list|
      task_list.with_item(title: "Review validation requests", href: planning_application_validation_validation_requests_path(@planning_application))

      render Validation::ValidationDecisionTask.new(@planning_application, task_list:)
    end %>
