<h1>New Site Visit</h1>

<video id="vid" width="300" height="300"></video>
<input id="photo-button" type="button" disabled="true" value="Take Picture"></input>
<canvas id="drawing-canvas" width="300" height="300"></canvas>

<div class="images-go-here">
</div>

<%= link_to 'Back', site_visits_path %>
