<% if current_user.assessor? %>
  <% add_parent_breadcrumb_link "Home", planning_applications_path %>
  <% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
  <% add_parent_breadcrumb_link "Documents", planning_application_drawings_path(@planning_application) %>

  <% content_for :title, "Archive document" %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item" aria-current="page"></li>
        </ol>
      </div>
      <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
        Documents: <%= @planning_application.reference %>
      </h1>
      <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
        <%= display_address(@site) %>
      </h2>
      <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
        Confirm archiving
      </h2>
      <h2 class="govuk-heading-s">
        You want to archive the document because:
      </h2>
      <p class="govuk-body"><%= t(@drawing_form.archive_reason) %></p>
      <h2 class="govuk-heading-s">
        Is this correct?
      </h2>
        <%= render "confirm_form" %>
    </div>
  </div>
<% end %>
