<h2 class="govuk-heading-m">Make Recommendation</h2>

<%= form_with model: @decision, url: planning_application_decisions_path(planning_application), local: true do |form| %>
  <%= form.submit "Complete assessment", class: "govuk-button", data: { module: "govuk-button" } %>
<% end %>
