<% content_for :page_title do %>
  Cancel red line boundary validation request - <%= t('page_title') %>
<% end %>

<%= render "planning_applications/validation/validation_requests/validation_requests_breadcrumbs" %>

<% content_for :title, "Cancel validation request" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Cancel validation request
    </h1>

    <h2 class="govuk-heading-m">
      Requested red line boundary to be cancelled
    </h2>

    <%= render "shared/location_map", locals: { geojson: @validation_request.new_geojson } %>

    <div class="govuk-warning-text govuk-!-margin-top-3">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The existing red line will continue to be used for this application after this request is cancelled.
      </strong>
    </div>

    <%= render "planning_applications/validation/validation_requests/cancel_confirmation_form",
        validation_request: @validation_request %>
  </div>
</div>
