<td class="govuk-table__cell change-request-list">
  New document
</td>
<% if additional_document_validation_request.cancelled? %>
  <td class="govuk-table__cell change-request-list">
    <%= additional_document_validation_request.reason %>
  </td>
<% else %>
  <td class="govuk-table__cell change-request-list">
    <%= additional_document_validation_request.document_request_type %>
  </td>
<% end %>
