<% content_for :page_title do %>
  Proposed site plans - <%= t('page_title') %>
<% end %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
    How to create proposed site plans
  </h1>
  <h2 class="govuk-heading-m">
    Example plan
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= image_tag("public/site_plans/proposed.svg", alt: "Proposed site plan example") %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body">
        <h2 class="govuk-heading-m">Your site plan must</h2>
        <ul>
          <li>
            <strong>Be drawn to scale</strong>  Usually 1:500 or 1:200 at A3 or A4 size
          </li>
          <li><strong>Have a scale bar</strong></li>
          <li><strong>Show the direction of North </strong></li>
          <li><strong>Have a unique drawing reference number</strong></li>
          <li><strong>Be based on an up-to-date map</strong> or survey</li>
        </ul>
        <h2 class="govuk-heading-m">It should include</h2>
        <ul>
          <li>
            <strong>Buildings</strong> including outbuildings
          </li>
          <li><strong>Trees</strong> on or adjoining the site</li>
          <li><strong>Roads</strong></li>
          <li><strong>Public footpaths</strong> or rights of way</li>
          <li><strong>Hard surfaces</strong> such as patios or decks</li>
          <li><strong>Boundaries</strong> such as walls or fences</li>
        </ul>
        <p>
          If you are showing the red site outline on your drawing, please make sure it matches the red line boundary you drew when submitting the application.
        </p>
        <p>
          Your application may not be marked as valid if the drawings do not clearly
          and accurately describe the site and the proposed changes.
        </p>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "Back", public_planning_guides_path, class: "govuk-button" %>
  </div>
</div>
