<% content_for :page_title do %>
  Proposed site plans - <%= t("page_title") %>
<% end %>

<div class="govuk-width-container">
  <h1>
    How to create proposed site plans
  </h1>
  <h2>
    Example plan
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= image_tag("public/site_plans/proposed.svg", alt: "Proposed site plan example") %>

      <h2 class="govuk-!-margin-top-3">Your site plan must:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          be drawn to scale (usually 1:500 or 1:200 at A3 or A4 size)
        </li>
        <li>show a scale bar</li>
        <li>show the direction of North</li>
        <li>have a unique drawing reference number</li>
        <li>be based on an up to date map or survey</li>
      </ul>
      <h2>It should include:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          buildings, including outbuildings and nearby neighbouring buildings
        </li>
        <li>trees on or adjoining the site</li>
        <li>roads</li>
        <li>public footpaths or rights of way</li>
        <li>hard surfaces such as patios or decks</li>
        <li>boundaries such as walls or fences</li>
      </ul>
      <p>
        If you are showing the red site outline on your drawing, please make sure it matches the red line boundary you drew when submitting the application.
      </p>
      <p>
        Your application may not be valid if the drawings do not clearly and accurately describe the site and the proposed changes. Upload scans of physical documents rather than photos.
      </p>
    </div>
  </div>
  <div>
    <%= govuk_button_link_to "Back", public_planning_guides_path, secondary: true %>
  </div>
</div>
