<%= form_with(
  model: consultation.neighbours.new,
  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
  url: planning_application_consultation_neighbour_letters_path(planning_application),
  class: "govuk-!-margin-top-5",
  id: "consultation-form",
) do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
  <div>
    <label for="neighbour-address" class="govuk-heading-s">Search for neighbours by address</label>
      <span id="neighbour-address-hint" class="govuk-hint">
        Start typing address or postcode
      </span>
    <div id="neighbour-address-container"></div>
  </div>
  <%= form.submit(
    "Add neighbour",
    class: "govuk-button govuk-button--secondary govuk-!-margin-top-5"
  ) %>
<% end %>
