<div class="govuk-header__navigation-item">
  <%= link_to(t(".users"), users_path, class: "govuk-header__link") %>
</div>
<div class="govuk-header__navigation-item">
  <%= link_to(t(".profile"), profile_path, class: "govuk-header__link") %>
</div>
