<% content_for :page_title do %>
  Site history - Application information - <%= @planning_application.reference %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1>Site history</h1>

    <%= render "planning_applications/assessment/site_histories/table", site_histories: @site_histories, show_action: false %>
  </div>
</div>
