<div class="govuk-body">
  <% unless action_name == "show" %>
    <p><strong>Add summary of works</strong></p>
  <% else %>
    <p><strong>Summary</strong></p>
  <% end %>

  <%= render "shared/warning_text",
      message: "This information WILL be made public" %>

  <% unless action_name == "show" %>
    <p>You can include:</p>
    <ul>
      <li>
        A list of the works involved in the project, such as alterations and extensions
      </li>
      <li>Key dimensions</li>
      <li>Materials used in external works</li>
      <li>Specific features you want to draw attention to</li>
      <li>Details of a proposed use, such as opening hours</li>
    </ul>
  <% end %>
</div>
