<section class="immunity-section govuk-!-margin-top-5">
  <h2 class="govuk-heading-m">
    Immunity from enforcement
  </h2>

  <p class="govuk-body">
    <strong>Note: application may be immune from enforcement</strong>
  </p>

  <%= render(PlanningApplications::ImmunityDetailsComponent.new(immunity_details: @planning_application.immune_proposal_details)) %>
</section>
