<td class="govuk-table__cell change-request-list">
  Fee change
</td>
<td class="govuk-table__cell change-request-list">
  <%= render(FormattedContentComponent.new(text: fee_change_validation_request.reason)) %>
</td>
