<% content_for :page_title do %>
  Existing elevations - <%= t("page_title") %>
<% end %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
    How to create existing elevations
  </h1>
  <h2 class="govuk-heading-m">
    Example elevation
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= image_tag("public/elevations/existing.svg", alt: "Existing elevations example") %>

      <h2 class="govuk-heading-m govuk-!-margin-top-3">Your elevations must:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          be drawn to scale (usually 1:100 or 1:50 at A3 or A4 size)
        </li>
        <li>show a scale bar</li>
        <li>have a unique drawing reference number</li>
        <li>be clearly labelled</li>
        <li>show all sides of the proposal</li>
      </ul>
      <h2 class="govuk-heading-m">You should include:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          materials - label any materials that are relevant to the proposed changes
        </li>
        <li>
          heights - show any heights relative to the street if on a hill
        </li>
      </ul>
      <p>
        Your application may not be valid if the drawings do not clearly and accurately describe the site and the proposed changes. Upload scans of physical documents rather than photos.
      </p>
    </div>
  </div>
  <div>
    <%= govuk_button_link_to "Back", public_planning_guides_path, secondary: true %>
  </div>
</div>
