<% content_for :page_title do %>
  <%= t(".edit_user") %> - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Users", administrator_users_path %>

<% content_for :title, t(".edit_user") %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t(".edit_user") %>
    </h1>

    <%= render(partial: "form", locals: { user: @user }) %>
  </div>
</div>
