<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'planning_applications/steps/validation' %>
    <%= render 'planning_applications/steps/policy_classes' %>
    <%= render 'planning_applications/steps/assessment' %>
    <%= render 'planning_applications/steps/review' %>
  </div>
</div>
