<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">Assess the proposal</span>
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <%=
          link_to "Evaluate permitted development policy requirements",
              @planning_application.policy_evaluation ?
                edit_planning_application_policy_evaluation_path(@planning_application) :
                  new_planning_application_policy_evaluation_path(@planning_application)
        %>

        <% if @planning_application.policy_evaluation %>
          <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
        <% end%>
      </li>
      <li class="app-task-list__item">
        Confirm recommendation
      </li>
    </ul>
  </li>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">Determine the proposal</span>
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        Review determination notice
      </li>
    </ul>
  </li>
</ol>
