<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">Assess the proposal</span>
    </h2>
    <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <% step_name = "Evaluate permitted development policy requirements" %>

          <% if current_user.reviewer? %>
            <span class="app-task-list__task-name"><%= step_name %></span>
          <% else %>
            <span class="app-task-list__task-name">
              <%=
                link_to step_name,
                    @planning_application.policy_evaluation ?
                      edit_planning_application_policy_evaluation_path(@planning_application) :
                        new_planning_application_policy_evaluation_path(@planning_application),
                    aria: { described_by: "#{step_name}-completed" }
              %>
            </span>
          <% end %>

          <% if @planning_application.policy_evaluation %>
            <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
          <% end %>
        </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">Confirm recommendation</span>
      </li>
    </ul>
  </li>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">Determine the proposal</span>
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">Review determination notice</span>
      </li>
    </ul>
  </li>
</ol>
