<div data-controller="decision-notice" class="govuk-!-margin-bottom-7">
  <%= tag.iframe src: decision_path(@planning_application), id: "decision-notice", class: "decision-notice", data: {decision_notice_target: "iframe"} %>

  <p class="govuk-body govuk-!-margin-top-3">
    <%= govuk_link_to "Print", decision_path(@planning_application), no_visited_state: true, class: "govuk-!-display-inline-block govuk-!-margin-right-2", data: {action: "click->decision-notice#handleClick"} %>
    <%= govuk_link_to "Download as PDF", decision_path(@planning_application, format: "pdf"), no_visited_state: true, class: "govuk-!-display-inline-block" %>
  </p>
</div>
