<div>
  <ul class="govuk-tabs__list" id="planning_applications_statusTab">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <%= link_to "In assessment", "#pending", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item">
      <%= link_to "Awaiting manager's determination", "#started", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item">
      <%= link_to "Determined", "#completed", class: "govuk-tabs__tab" %>
    </li>
  </ul>
</div>
