<div>
  <ul class="govuk-tabs__list" id="planning_applications_statusTab">
    <% unless current_user.reviewer?%>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <%= link_to "In assessment", "#in_assessment", class: "govuk-tabs__tab" %>
      </li>
    <% end %>
    <li class="govuk-tabs__list-item">
      <%= link_to "Awaiting manager's determination", "#awaiting_determination", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item">
      <%= link_to "Determined", "#determined", class: "govuk-tabs__tab" %>
    </li>
  </ul>
</div>
