<div>
  <ul class="govuk-tabs__list" id="planning_applications_statusTab">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <%= link_to "Pending", "#pending", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item">
      <%= link_to "Started", "#started", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item">
      <%= link_to "Completed", "#completed", class: "govuk-tabs__tab" %>
    </li>
  </ul>
</div>
