<div class="govuk-accordion__section">
  <div class="govuk-accordion__section-header">
    <h3 class="govuk-accordion__section-heading">
      <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-heading-3" class="govuk-accordion__section-button" aria-expanded="false">
        Proposal details
      </button>
        <span class="govuk-accordion__icon" aria-hidden="true"></span>
    </h3>
  </div>
  <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3" id="proposal-details-section">
    <% if @planning_application.updated_address_or_boundary_geojson %>
      <%= render "shared/warning_text",
        message: "This application has been updated. The proposal details may no longer be accurate. Please check all relevant details have been provided." %>
    <% end %>

    <% if @planning_application.proposal_details.any? %>
      <ol class="govuk-list govuk-list--number">
        <% @planning_application.proposal_details.each do |proposal_detail| %>
          <li><%= @planning_application.proposal_detail_item(proposal_detail) %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
