<div class=corrections-banner>
  <svg class="alert__icon" fill="red" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"></path></svg>
  <div class="moj-banner__message">
    <span class="moj-banner__assistive">
      Warning</span><strong><%= overdue_requests(@planning_application.validation_requests).count %></strong> validation request is now overdue.
  </div>
</div>
