<% content_for :page_title do %>
  Edit application - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Edit application" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(
      partial: "form",
      locals: {
        planning_application: @planning_application,
        return_to: @back_path
      }
    ) %>
  </div>
</div>
