<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item" aria-current="page"></li>
      </ol>
    </div>
    <h1 class="govuk-heading-l">
      Your fast track applications
    </h1>
    <p class="govuk-body"><%= current_user.name %>, <%= current_user.role.capitalize %></p>
  </div>
</div>
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#pending">
        pending
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#started">
        started
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#completed">
        completed
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="pending">
    <h2 class="govuk-heading-l">pending</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Consultation date</th>
          <th scope="col" class="govuk-table__header">Responses</th>
          <th scope="col" class="govuk-table__header">Decision due by</th>
          <th scope="col" class="govuk-table__header">Days left</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19/AP/1880</td>
          <td class="govuk-table__cell">Certification of lawfulness</td>
          <td class="govuk-table__cell">Ground floor rear elevation</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell">May 29</td>
          <td class="govuk-table__cell">35</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19/AP/1881</td>
          <td class="govuk-table__cell">Full householder</td>
          <td class="govuk-table__cell">Single-story extension</td>
          <td class="govuk-table__cell">TBD</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell">May 31</td>
          <td class="govuk-table__cell">38</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="started">
    <h2 class="govuk-heading-l">started</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Consultation date</th>
          <th scope="col" class="govuk-table__header">Responses</th>
          <th scope="col" class="govuk-table__header">Decision due by</th>
          <th scope="col" class="govuk-table__header">Days left</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19/AP/1880</td>
          <td class="govuk-table__cell">Certification of lawfulness</td>
          <td class="govuk-table__cell">Ground floor rear elevation</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell">May 29</td>
          <td class="govuk-table__cell">35</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19/AP/1881</td>
          <td class="govuk-table__cell">Full householder</td>
          <td class="govuk-table__cell">Single-story extension</td>
          <td class="govuk-table__cell">TBD</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell">May 31</td>
          <td class="govuk-table__cell">38</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="completed">
    <h2 class="govuk-heading-l">completed</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Consultation date</th>
          <th scope="col" class="govuk-table__header">Responses</th>
          <th scope="col" class="govuk-table__header">Decision due by</th>
          <th scope="col" class="govuk-table__header">Days left</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19/AP/1880</td>
          <td class="govuk-table__cell">Certification of lawfulness</td>
          <td class="govuk-table__cell">Ground floor rear elevation</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell">May 29</td>
          <td class="govuk-table__cell">35</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19/AP/1881</td>
          <td class="govuk-table__cell">Full householder</td>
          <td class="govuk-table__cell">Single-story extension</td>
          <td class="govuk-table__cell">TBD</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell">May 31</td>
          <td class="govuk-table__cell">38</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
