<% content_for :title, "Validate application" %>

<%= render "planning_applications/assessment_dashboard" do %>
  <h2 class="govuk-heading-l">
    Validate application
  </h2>
  <% if @planning_application.not_started? %>
    <p class="govuk-body">
      <strong>
        The application has not yet been marked as valid or invalid
      </strong>
    </p>
  <% end %>

  <p class="govuk-body">Begin the validation process to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Check the red line boundary, fees and documents</li>
    <li>Review constraints</li>
    <li>Request any changes and mark the application as valid or invalid</li>
  </ul>

  <%= link_to(planning_application_validation_tasks_path(@planning_application), class: "govuk-button", role: "button", data: { module: "govuk-button" }) do %>
    Start now<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
    </svg>
  <% end %>
<% end %>
