<h2 class="govuk-heading-m">
  View recommendation
</h2>
<p class="govuk-body">
  Recommendations submitted by <%= @assessor_name %> on <%= @recommended_date %>
</p>

<%= render "decision_notice", planning_application: @planning_application %>
