<td class="govuk-table__cell change-request-list">
  Ownership certificate
</td>
<td class="govuk-table__cell change-request-list">
  <%= render(FormattedContentComponent.new(text: ownership_certificate_validation_request.reason)) %>
</td>
