.govuk-notification-banner {
  &--alert {
    background-color: $govuk-error-colour;
    border-color: $govuk-error-colour;

    .govuk-notification-banner__link {
      color: $govuk-error-colour;
    }
  }

  &--notice {
    background-color: $govuk-success-colour;
    border-color: $govuk-success-colour;

    .govuk-notification-banner__link {
      color: $govuk-success-colour;
    }
  }
}
