<li id="constraints-validation-tasks">
  <h2 class="app-task-list__section">
    Constraints
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to "Validate constraints", planning_application_constraints_path(@planning_application), class: "govuk-link" %>
      </span>
      <% if @planning_application.constraints_checked? %>
        <strong class="govuk-tag govuk-tag--green app-task-list__task-tag">
          Checked
        </strong>
      <% else %>
        <strong class="govuk-tag govuk-tag--grey app-task-list__task-tag">
          Not checked yet
        </strong>
      <% end %>
    </li>
  </ul>
</li>
