<div class="govuk-width-container">
  <% if local_assigns.fetch(:back_button, true) %>
    <%= back_link(classname: "govuk-back-link") %>
  <% end %>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"><%= heading %></h1>
        <%= yield %>
      </div>
    </div>
  </main>
</div>
