<% if @planning_application.constraints.empty? %>
  <p class="govuk-body">
    There are no constraints
  </p>
<% else %>
  <ul class="govuk-list govuk-list--bullet">
    <% @planning_application.constraints.each do |constraint| %>
      <li><%= constraint.humanize %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to_if(current_user.assessor?,
               "Edit constraints",
               edit_planning_application_constraints_path(@planning_application),
               class: "govuk-link govuk-body") {} %>
