<% if @planning_application.planning_application_constraints.active.empty? %>
  <p class="govuk-body">
    There are no planning constraints on the application site.
  </p>
<% else %>
  <p class="govuk-body">
    The application site has these constraints:
  </p>
  <%= render(
        partial: "constraints/info",
        locals: {
          planning_application: @planning_application,
          planning_application_constraints: @planning_application.planning_application_constraints.active
        }
      ) %>
<% end %>

<%= link_to_if(current_user.assessor?,
               "Edit constraints",
               planning_application_constraints_path(@planning_application),
               class: "govuk-link govuk-body") {} %>
