<p class="govuk-body">
  <%= link_to "Applicants will be able to see this advice about how to prepare plans (Opens in a new window or tab)",
    public_planning_guides_path, class: "govuk-link", target: "_blank" %>
</p>
