<div class="govuk-!-padding-bottom-5">
  <p class="govuk-body">
    <strong><%= @planning_application.full_address.try(:upcase) %></strong>
  </p>
  <p class="govuk-body">
    Application number: <strong><%= @planning_application.reference %></strong>
  </p>
</div>
