<% if @planning_application.not_started? %>
  <p class="govuk-body">
    This request will be added to the application. The requests will not be sent until the application is marked as invalid.
  </p>
<% elsif @planning_application.invalidated? %>
  <p class="govuk-body">
    This request will be sent to the applicant immediately.
  </p>
<% end %>

<div class="govuk-button-group">
  <% if allow_submit %>
    <%= form.govuk_submit submit_button_text(@planning_application, action_name) %>
  <% end %>
  <%= back_link %>
</div>
