<div class="govuk-button-group">
  <%= form.govuk_submit "Add" %>
  <%= link_to "Back", new_planning_application_validation_request_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
</div>
