<% if @planning_application.not_started? %>
  <p class="govuk-body">
    This request will be added to the application. The requests will not be sent until the application is marked as invalid.
  </p>
<% elsif @planning_application.invalidated? %>
  <p class="govuk-body">
    This request will be sent to the applicant immediately.
  </p>
<% end %>

<div class="govuk-button-group">
  <% if action_name.eql?("edit") %>
    <% unless @planning_application.validated? %>
      <%= form.govuk_submit "Update" %>
    <% end %>
    <%= link_to "Back", planning_application_validation_requests_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  <% else %>
    <%= form.govuk_submit "Add" %>
    <%= link_to "Back", planning_application_validation_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  <% end %>
</div>
