<% if @parts.any? %>
  <table class="govuk-table application-types-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          Part
        </th>
        <th scope="col" class="govuk-table__header">
          Description
        </th>
        <th scope="col" class="govuk-table__header">
          Action
        </th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @parts.each do |part| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= part.number %>
          </td>
          <td class="govuk-table__cell">
            <%= part.name %>
          </td>
          <td class="govuk-table__cell">
            <%= govuk_link_to t(".edit"), edit_gpdo_policy_schedule_policy_part_path(part.policy_schedule.number, part.number) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
