<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "GPDO", gpdo_policy_schedules_path %>
<% add_parent_breadcrumb_link "Schedule #{@schedule.number}", gpdo_policy_schedules_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1>
      <%= t(".title") %>
    </h1>

    <%= render "form", url: gpdo_policy_schedule_policy_part_path(@schedule.number, @part.number) %>
  </div>
</div>
