<p class="govuk-body govuk-!-margin-top-5">
  Select and add the relevant conditions
</p>

<%= render "shared/warning_text", message: "This information WILL be made publicly available." %>
<%= render "form" %>
