<% question_fragments = policy_consideration.policy_question.split(/_+/).map(&:strip) %>

<li><%= question_fragments[0] %> <strong><%= policy_consideration.applicant_answer %></strong> <%= question_fragments[1] %></li>
