<%= render(
  layout: "template",
  locals: { planning_application: @planning_application }
) do %>
  <h2 class="govuk-heading-m">Does this application require a press notice?</h2>
  
  <%= render "form" %>
<% end %>
