<h1 class="gem-c-title__text" >Welcome</h1>
<% if current_user.role == "admin" %>
  <p>You can only see this paragraph if you are logged in as an Admin </p>
<% elsif current_user.role == "reviewer" %>
  <p>You can only see this paragraph if you are logged in as a Planning Manager </p>
<% else %>
  <p>Anyone who is logged in can see this content </p>
<% end %>
