<li id="cil-liability-validation-tasks">
  <h2 class="app-task-list__section">
    CIL liability
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to "CIL liability", edit_planning_application_cil_liability_path(@planning_application), class: "govuk-link" %>
      </span>
      <%= render(
            StatusTags::CilLiabilityComponent.new(
              planning_application: @planning_application
            )
          ) %>
    </li>
  </ul>
</li>
