<li id="red-line-boundary-tasks">
  <h2 class="app-task-list__section">
    Red line boundary
  </h2>
  <ul class="app-task-list__items">
    <li id="draw_red_line_boundary" class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to_unless(@planning_application.boundary_geojson.present? && @planning_application.officer_can_draw_boundary?, "Draw red line boundary", planning_application_validation_sitemap_path(@planning_application), class: "govuk-link" ) %>
      </span>
      <%= render(
        StatusTags::DrawRedLineBoundaryComponent.new(
          boundary_geojson: @planning_application.boundary_geojson
        )
      ) %>
    </li>
    <%= render(
      TaskListItems::CheckRedLineBoundaryComponent.new(
        planning_application: @planning_application
      )
    ) %>
  </ul>
</li>
