<% planning_application.policy_classes.each do |policy_class| %>
  <%= render TaskListItems::Reviewing::Component.new do |c| %>
    <% c.with_link do %>
      <%= render(Reviewing::PolicyClass::LinkComponent.new(policy_class: policy_class)) %>
    <% end %>

    <% c.with_tag do %>
      <div class="govuk-task-list__status app-task-list__task-tag">
      <%= render(
            StatusTags::BaseComponent.new(
              status: if policy_class.current_review&.status == "updated"
                        :updated
                      else
                        policy_class.current_review.present? ? policy_class.current_review.review_status : :not_started
                      end
            )
          ) %>
      </div>
    <% end %>
  <% end %>
<% end %>
