<h2 class="app-task-list__section govuk-!-margin-top-8">
  Review assessment
</h2>
<ul class="app-task-list__items" id="review-assessment-section">
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <%= govuk_link_to "Check Community Infrastructure Levy (CIL)", planning_application_review_cil_liability_path(@planning_application) %>
    </span>
    <div class="govuk-task-list__status app-task-list__task-tag">
    <%= render(
          StatusTags::BaseComponent.new(
            status: (@planning_application.audits.review_cil_liability.any? ? :complete : :not_started)
          )
        ) %>
    </div>
  </li>
  <%= render(
        TaskListItems::Reviewing::AssessmentDetailsComponent.new(
          planning_application: @planning_application
        )
      ) %>
</ul>
