<li class="app-task-list__item">
  <span class="app-task-list__task-name">
    <%= link_to_if(
          @planning_application.awaiting_determination?,
          "Sign-off recommendation",
          edit_planning_application_assessment_recommendations_path(@planning_application),
          aria: { describedby: "review_assessment-completed" },
          class: "govuk-link") %>
  </span>
  <%= render(
        StatusTags::SignoffRecommendationComponent.new(
          planning_application: @planning_application,
          user: current_user
        )
  )%>
</li>
