<%= govuk_accordion do |accordion| %>
  <% accordion.with_section(heading_text: t(".assessment_report")) do %>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <%= render(
            PlanningApplications::Assessment::AssessmentReportComponent.new(
              planning_application: planning_application
            )
          ) %>
      <%= govuk_link_to(
            t(".download_assessment_report"),
            planning_application_assessment_report_download_path(
              planning_application,
              format: "pdf"
            ),
            new_tab: true,
            class: "govuk-body"
          ) %>
    </div>
  <% end %>
<% end %>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
