<% if last_audit.present? %>
  <p class="govuk-body">
    <%= render(Audits::ActivityComponent.new(audit: last_audit)) %>
  </p>
  <p class="govuk-body"><%= audit_user_name(last_audit) %></p>
  <p class="govuk-body">
    <%= t(
      ".date_at_time",
      date: last_audit.created_at.to_date.to_fs,
      time: last_audit.created_at.to_fs(:time_only)
    ) %>
  </p>
<% end %>
<%= link_to(
  t(".view_all_audits"),
  planning_application_audits_path(planning_application),
  class: "govuk-link govuk-body"
) %>
