<% if first_note.present? %>
  <%= auto_link_and_simple_format_content(content: first_note_entry) %>
  <p class="govuk-body"><%= first_note.created_at %></p>
<% end %>
<%= link_to(
  link_text,
  planning_application_notes_path(planning_application),
  class: "govuk-link govuk-body"
) %>
