<% if documents.any? %>
  <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">
    <%= t(".documents_included_in") %>
  </caption>
  <tbody class="govuk-table__body">
    <% documents.each do |document| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= link_to(
            document_name_and_reference(document),
            planning_application_documents_path(planning_application, anchor: dom_id(document))
          ) %>
        </td>
        <td class="govuk-table__cell">
          <% document.tags.each do |document_tag| %>
            <%= tag.strong(document_tag, class: "govuk-tag govuk-tag--green") %>
          <% end %>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= link_to(
            t(".add_and_edit"),
            planning_application_documents_path(planning_application)
          ) %>
        </td>
        <td class="govuk-table__cell">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
