.bops-header-bar {
  width: 100%;
  background-color: $bops-light-blue-background;
  border-bottom: 1px solid $bops-blue-border;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
}

.bops-header-bar__list {
  display: flex;
  align-items: center;
  gap: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &--right {
    margin-left: auto;
  }
}

.bops-header-bar__item {
  @extend .govuk-body;

  display: inline-flex;
  align-items: center;
  padding-inline: 15px;
  margin-bottom: 0;
}

.bops-header-bar__item + .bops-header-bar__item,
.bops-header-bar__list--right .bops-header-bar__item:first-child {
  border-inline-start: 1px solid $bops-blue-border;
}

.bops-header-bar__toggle-panel {
  width: 100%;
  background-color: $bops-light-blue-background;

  margin-block-start: 15px;
  padding-inline-start: 15px;
}

@media (max-width: 768px) {
  .bops-header-bar {
    padding: 10px 0;
  }

  .bops-header-bar,
  .bops-header-bar__list {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .bops-header-bar__list--right {
    margin-left: 0;
    padding-left: 0;
  }

  .bops-header-bar__item + .bops-header-bar__item,
  .bops-header-bar__list--right .bops-header-bar__item:first-child {
    border: none;
  }

  .bops-header-bar__item--toggle {
    padding-inline: 15px;
  }
}
