.bops-header-bar {
  width: 100%;
  background-color: govuk-colour("white");
  border-bottom: 1px solid govuk-colour("mid-grey");
}

.bops-header-bar--sticky {
  position: sticky;
  top: var(--header-height, 0);
  z-index: 2;
}

.bops-header-bar--static {
  position: relative;
  z-index: 10;
}

.bops-header-bar__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.bops-header-bar__left,
.bops-header-bar__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bops-header-bar__right {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid govuk-colour("mid-grey");
}

.bops-header-bar__divider {
  width: 1px;
  height: 1em;
  background-color: govuk-colour("mid-grey");
}

.bops-header-bar__text {
  font-size: 1rem;
  line-height: 1.5;
  @include govuk-font(19);
}

.bops-header-bar__toggle-button {
  padding: 0;
}

.bops-header-bar__toggle-panel {
  padding: 0 2rem 1rem;
  color: govuk-colour("dark-grey");
  background-color: govuk-colour("white");
}

.bops-header-bar__toggle-panel > *:first-child {
  margin-top: 1rem;
}

.bops-header-bar__toggle-panel > *:last-child {
  margin-bottom: 0;
}

.bops-fullwidth-container .bops-header-bar {
  grid-column: 1 / span 2;
}
