.bops-header-bar {
  width: 100%;
  background-color: $bops-light-blue-background;
  border-bottom: 1px solid $bops-blue-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
}

.bops-header-bar__list {
  display: flex;
  align-items: center;
  gap: 0;
  list-style: none;
  margin: 0;
  padding: 0;

  &--right {
    margin-left: 16px;
    padding-left: 16px;
  }
}

.bops-header-bar__item {
  @extend .govuk-body;

  display: inline-flex;
  align-items: center;
  padding-inline: 15px;
  margin-bottom: 0;
}

.bops-header-bar__item + .bops-header-bar__item,
.bops-header-bar__list--right .bops-header-bar__item:first-child {
  border-inline-start: 1px solid $bops-blue-border;
}

.bops-header-bar__toggle-panel {
  padding: 0 0 15px 15px;
  background-color: $bops-light-blue-background;
}
