@use "sass:map";

.bops-ticket-panel {
  $ticket_colours: (
    "grey": (
      "color": govuk-shade(govuk-colour("dark-grey"), 50%),
      "background-color": govuk-tint(govuk-colour("dark-grey"), 85%),
      "border-color": govuk-colour("dark-grey")
    ),
    "green": (
      "color": govuk-shade(govuk-colour("green"), 20%),
      "background-color": govuk-tint(govuk-colour("green"), 80%),
      "border-color": govuk-colour("green")
    ),
    "turquoise": (
      "color": govuk-shade(govuk-colour("turquoise"), 60%),
      "background-color": govuk-tint(govuk-colour("turquoise"), 80%),
      "border-color": govuk-colour("turquoise")
    ),
    "blue": (
      "color": govuk-shade(govuk-colour("blue"), 60%),
      "background-color": govuk-tint(govuk-colour("blue"), 70%),
      "border-color": govuk-colour("blue")
    ),
    "red": (
      "color": govuk-shade(govuk-colour("red"), 80%),
      "background-color": govuk-tint(govuk-colour("red"), 75%),
      "border-color": govuk-colour("red")
    ),
    "purple": (
      "color": govuk-shade(govuk-colour("bright-purple"), 50%),
      "background-color": govuk-tint(govuk-colour("bright-purple"), 85%),
      "border-color": govuk-colour("bright-purple")
    ),
    "pink": (
      "color": govuk-shade(govuk-colour("pink"), 50%),
      "background-color": govuk-tint(govuk-colour("pink"), 85%),
      "border-color": govuk-colour("pink")
    ),
    "orange": (
      "color": govuk-shade(govuk-colour("orange"), 55%),
      "background-color": govuk-tint(govuk-colour("orange"), 70%),
      "border-color": govuk-colour("orange")
    ),
    "yellow": (
      "color": govuk-shade(govuk-colour("yellow"), 65%),
      "background-color": govuk-tint(govuk-colour("yellow"), 75%),
      "border-color": govuk-colour("yellow")
    ),
  );

  $default_colour: map.get($ticket_colours, "blue");

  color: map.get($default_colour, "color");
  background-color: map.get($default_colour, "background-color");
  border-left: 5px solid map.get($default_colour, "border-color");
  padding: govuk-spacing(2);

  &__body {
    @include govuk-font($size: 19);
    margin-bottom: govuk-spacing(1);
  }

  &__footer {
    @include govuk-font($size: 16);
    color: govuk-tint(map.get($default_colour, "color"), 25%);
  }

  @each $name, $attributes in $ticket_colours {
    &--#{$name} {
      color: map.get($attributes, "color");
      background-color: map.get($attributes, "background-color");
      border-left-color: map.get($attributes, "border-color");

      .bops-ticket-panel__footer {
        color: govuk-tint(map.get($attributes, "color"), 25%);
      }
    }
  }
}
