<footer class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <%= govuk_footer_link_to "Accessibility statement", accessibility_path %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= govuk_footer_link_to "Privacy policy", current_local_authority.privacy_policy_url %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
