<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <%= link_to(root_path, class: "govuk-header__link govuk-header__link--homepage") do %>
      <span class="govuk-header__service-name">
        <%= current_local_authority.short_name %>
      </span>
      <span class="govuk-header__product-name">
        <%= t(".back_office_planning") %>
      </span>
    <% end %>
  </div>
</header>
