<table class="govuk-table cancelled-requests">
  <caption class="govuk-table__caption govuk-table__caption--m">
    Cancelled requests
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        Request
      </th>
      <th scope="col" class="govuk-table__header">
        Original reason for request
      </th>
      <th scope="col" class="govuk-table__header">
        Reason for cancellation
      </th>
      <th scope="col" class="govuk-table__header">
        Date cancelled
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% validation_requests.each do |validation_request| %>
      <tr class="govuk-table__row">
        <%= render validation_request.partial_name, validation_request: validation_request %>
      </tr>
    <% end %>
  </tbody>
</table>
