<%# locals: (task:, heading: nil) %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", main_app.planning_application_path(@planning_application) %>

<% unless current_page?(task_path(@planning_application, task)) %>
  <% add_parent_breadcrumb_link task.title, task_path(@planning_application, task) %>
<% end %>

<% page_heading = heading || task.title %>

<% content_for :page_title do %>
  <%= page_heading %> &mdash; <%= t("page_title") %>
<% end %>

<h1><%= page_heading %></h1>

<%= render "shared/proposal_header" %>
