<td class="govuk-table__cell">
  <% case validation_request.state %>
  <% when "pending" %>
    <strong class="govuk-tag govuk-tag--yellow">
      Not sent yet
    </strong>
  <% when "open" %>
    <%= tag.strong(class: "govuk-tag govuk-tag--#{display_request_date_state(validation_request)}") do %>
      <%= validation_request.overdue? ? "Overdue" : "Sent" %>
    <% end %>
  <% when "closed" %>
    <strong class="govuk-tag">
      Responded
    </strong>
  <% end %>
</td>
