<% base_id = "additional-services-tasks" %>
<% list_id = local_assigns[:id_prefix].present? ? "#{local_assigns[:id_prefix]}-#{base_id}" : base_id %>

<li id="<%= list_id %>">
  <h2 class="app-task-list__section">Additional services</h2>
  <ul class="app-task-list__items">
    <% if @planning_application.site_visits? %>
      <%= render(
            TaskListItems::Assessment::SiteVisitComponent.new(
              planning_application: @planning_application
            )
          ) %>
    <% end %>

     <% if @planning_application.additional_services.find_by(name: "meeting") %>
      <%= render(
            TaskListItems::Assessment::MeetingComponent.new(
              planning_application: @planning_application
            )
          ) %>
    <% end %>
  </ul>
</li>
