<% base_id = "assess-against-policies-tasks" %>
<% list_id = local_assigns[:id_prefix].present? ? "#{local_assigns[:id_prefix]}-#{base_id}" : base_id %>

<li id="<%= list_id %>">
  <h2 class="app-task-list__section">
    Assess against policies and guidance
  </h2>
  <ul class="app-task-list__items">
    <%= render(
          TaskListItems::Assessment::ConsiderationsComponent.new(
            planning_application: @planning_application
          )
        ) %>
  </ul>
</li>
