<li id="assess-against-legislation-tasks">
  <h2 class="app-task-list__section">
    Assess against legislation
  </h2>
  <ul class="app-task-list__items">
    <% if @planning_application.no_policy_classes_after_assessment? %>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          No policy classes were added.
        </span>
      </li>
    <% else %>
      <% @planning_application.planning_application_policy_classes.order(:policy_class_id).each do |pa_policy_class| %>
        <%= render(
              TaskListItems::Assessment::PlanningApplicationPolicyClassComponent.new(
                planning_application_policy_class: pa_policy_class,
                planning_application: @planning_application
              )
            ) %>
      <% end %>
    <% end %>

    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to_if(
              @planning_application.can_assess?,
              "Add new assessment area",
              planning_application_assessment_policy_areas_parts_path(@planning_application),
              class: "govuk-link"
            ) %>
      </span>
    </li>
  </ul>
</li>
