<li id="assessment-information-tasks">
  <h2 class="app-task-list__section">
    Assessor remarks
  </h2>

  <ul class="app-task-list__items">
    <% if @planning_application.pre_application? %>
      <%= render(
            TaskListItems::Assessment::ConsiderationsComponent.new(
              planning_application: @planning_application,
              link_text: "Planning considerations and advice",
              link_path: planning_application_assessment_consideration_guidances_path(@planning_application)
            )
          ) %>
    <% end %>

    <% @planning_application.application_type.assessor_remarks.each do |category| %>
      <%= render(
            TaskListItems::Assessment::AssessmentDetailComponent.new(
              planning_application: @planning_application,
              category:
            )
          ) %>
    <% end %>
  </ul>
</li>
