<% if @policy_area.review_policy_areas.where.not(reviewer_comment: "").any? %>
  <div class="govuk-inset-text" id="reviewer_comment">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
      Reviewer comment:
    </p>
    <% @comment = @policy_area.review_policy_areas.where.not(reviewer_comment: nil).order(:created_at).last %>
    <p class="govuk-body govuk-!-margin-top-1"><%= @comment.created_at.to_fs %></p>
    <p class="govuk-body italic"><%=  @comment.reviewer_comment %></p>
  </div>
<% end %>
