<section id="planning-history-section" class="govuk-!-margin-bottom-7">
  <h2 class="govuk-!-margin-top-5">
    Site history
  </h2>

  <%= render "planning_applications/assessment/site_histories/table", site_histories: @planning_application.site_histories, show_action: false %>

  <p>
    <%= govuk_link_to "Show details", planning_application_assessment_site_histories_path(@planning_application) %>
  </p>
</section>
