<% content_for(:title) do %>
<title>Sorry, we didn’t understand your request (error 400) - BOPS</title>
<% end %>

<h1>
  <span class="govuk-caption-l">Error 400</span>
  Sorry, we didn’t understand your request
</h1>
<p>
  If you typed a web address or clicked a link, check it was correct.
</p>
