<% content_for(:title) do %>
<title>Sorry, you do not have permission to access this page (error 403) - BOPS</title>
<% end %>

<h1>
  <span class="govuk-caption-l">Error 403</span>
  Sorry, you do not have permission to access this page
</h1>
<p>
  If you typed a web address or clicked a link, check it was correct.
</p>
