<% content_for(:title) do %>
<title>The change you wanted was rejected (error 422) - BOPS</title>
<% end %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Error 422</span>
  The change you wanted was rejected
</h1>
<p class="govuk-body">
  We couldn’t do what you wanted to do.
</p>
