<% content_for(:title) do %>
<title>Sorry, there is a problem with the service (error 500) - BOPS</title>
<% end %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Error 500</span>
  Sorry, there is a problem with the service
</h1>
<p class="govuk-body">
  Try again later.
</p>
