<% content_for(:title) do %>
<title>Sorry, there is a problem with the service (error 500) - BOPS</title>
<% end %>

<h1>
  <span class="govuk-caption-l">Error 500</span>
  Sorry, there is a problem with the service
</h1>
<p>
  Try again later.
</p>
