<% content_for(:title) do %>
<title>Sorry, the service is unavailable (error 503) - BOPS</title>
<% end %>

<h1>
  <span class="govuk-caption-l">Error 503</span>
  Sorry, the service is unavailable
</h1>
<p>
  Try again later.
</p>
