<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <%= yield :title -%>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/error.css" media="all">
  </head>

  <body class="govuk-template__body">
    <header class="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <a class="govuk-header__link" href="/">
          <span class="govuk-header__service-name">
            Back Office Planning System
          </span>
        </a>
      </div>
    </header>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= yield %>

            <hr class="govuk-section-break govuk-section-break--l">

            <p class="govuk-body-xs">
              <!-- request-id --><br>
              <!-- timestamp -->
            </p>
          </div>
        </div>
      </main>
    </div>
    <footer class="govuk-footer">
    </footer>
  </body>
</html>
