<% if @policy_classes.any? %>
  <table class="govuk-table application-types-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          Class
        </th>
        <th scope="col" class="govuk-table__header">
          Description
        </th>
        <th scope="col" class="govuk-table__header">
          Action
        </th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @policy_classes.each do |policy_class| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= policy_class.section %>
          </td>
          <td class="govuk-table__cell">
            <%= govuk_link_to policy_class.name, gpdo_policy_schedule_policy_part_policy_class_policy_sections_path(@schedule.number, @part.number, policy_class.section) %>
          </td>
          <td class="govuk-table__cell">
            <%= govuk_link_to t(".edit"), edit_gpdo_policy_schedule_policy_part_policy_class_path(@schedule.number, @part.number, policy_class.section) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
