<%= activity(locals[:item].activity_type, locals[:item].activity_information) %>

<% if JSON.parse(locals[:item].audit_comment)["previous_received_date"].present? %> 
  <p class="govuk-body">
    from: <%= JSON.parse(locals[:item].audit_comment)["previous_received_date"].to_date %>
  </p>
<% end %>

<% if JSON.parse(locals[:item].audit_comment)["updated_received_date"].present? %> 
  <p class="govuk-body">
    to: <%= JSON.parse(locals[:item].audit_comment)["updated_received_date"].to_date %>
  </p>
<% end %>

