<%= activity(audit.activity_type, audit.activity_information) %>

<% if JSON.parse(audit.audit_comment)["previous_received_date"].present? %>
  <p class="govuk-body">
    from: <%= JSON.parse(audit.audit_comment)["previous_received_date"].to_datetime.to_fs %>
  </p>
<% end %>

<% if JSON.parse(audit.audit_comment)["updated_received_date"].present? %>
  <p class="govuk-body">
    to: <%= JSON.parse(audit.audit_comment)["updated_received_date"].to_datetime.to_fs %>
  </p>
<% end %>

