<%= activity(audit.activity_type, audit.activity_information) %>
<p class="govuk-body">
  <% activity_type = get_relevant_audit_information(audit) %>

  <% if valid_json?(activity_type) %>
    <% JSON.parse(activity_type).each do |key, value| %>
      <i><%= key.humanize %>: <%= value %></i><br>
    <% end %>
  <% else %>
    <%= activity_type %>
  <% end %>
</p>
