<%= form_with(
  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
  class: "govuk-!-margin-top-5",
  id: "consultation-neighbour-addresses-form",
  method: :post,
  url: planning_application_consultation_neighbour_addresses_path(planning_application),
) do |form| %>
  <h3 class="govuk-heading-s">Neighbour addresses returned from drawn polygon</h3>

  <%= form.govuk_text_area :polygon_geojson,
                            label: { class: "govuk-visually-hidden" },
                            class: "govuk-visually-hidden" %>

  <div id="address-container">
    <div class="width-80 govuk-!-margin-top-1">
      <p class="govuk-body address">
      </p>
    </div>
  </div>
<% end %>
