<% show_update_button = local_assigns.fetch(:show_update_button, true) %>

<% if planning_application_constraints.empty? %>
  <p class="govuk-body audit_details">
    No constraints identified by PlanX
  </p>
<% else %>
  <ul class="govuk-list govuk-list--bullet">
    <% planning_application_constraints.each do |planning_application_constraint| %>
      <li><%= planning_application_constraint.constraint.type_code %></li>
    <% end %>
  </ul>
<% end %>
<% if planning_application.can_validate? && show_update_button %>
  <p class="govuk-body">
    <%= link_to(
          t(".update_constraints"),
          planning_application_validation_constraints_path(planning_application),
          class: "govuk-link"
        ) %>
  </p>
<% end %>
