<%= tag.table(class: ["govuk-table", "#{identifier}-constraints-table"]) do %>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        Category
      </th>
      <th scope="col" class="govuk-table__header">
        Constraint
      </th>
      <% if show_source %>
        <th scope="col" class="govuk-table__header">
          Source
        </th>
      <% end %>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">
        Action
      </th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% if @planning_application_constraints.any? %>
      <% planning_application_constraints.each do |planning_application_constraint| %>
        <%= render(
              partial: "row",
              locals: {
                planning_application_constraint: planning_application_constraint,
                show_source: show_source
              }
            ) %>
      <% end %>
    <% else %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="4" style="border-bottom: none;">
          <div class="background-light-grey govuk-!-padding-6">
            <p class="govuk-body govuk-!-margin-bottom-0">No constraints have been added or identified</p>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
