<table class="govuk-table">
  <tbody class="govuk-table__body">
    <% fields = [
        { label: ".reviewer_group_email", method: :reviewer_group_email },
        { label: ".press_notice_email", method: :press_notice_email }
      ]
    %>

    <% fields.each do |field| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <%= t(field[:label]) %>
        </th>
        <td class="govuk-table__cell">
          <%= local_authority.public_send(field[:method]) %>
        </td>
        <td class="govuk-table__cell">
          <%= link_to(
            t(".edit"),
            edit_administrator_local_authority_path(local_authority),
            class: "govuk-link"
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
