<% content_for :page_title do %>
  <%= t(".local_authority") %> - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Settings", administrator_local_authority_path %>

<% content_for :title, t(".local_authority") %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t(".local_authority") %>
    </h1>

    <%= render "form" %>
  </div>
</div>
