<p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19">
  <%= assessment_detail.entry %>
</p>
<p class="govuk-body">
  <%= simple_format(assessment_detail.additional_information) %>
</p>
