<p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19">
  <%= assessment_detail.entry %>
</p>
<p class="govuk-body">
  <%= auto_link_and_simple_format_content(content: assessment_detail.additional_information) %>
</p>
