<% unless sections.empty? %>
  <aside class="bops-table-of-contents-container" role="complementary">
    <a class="bops-skip-to-content govuk-visually-hidden" href="#0">Skip to guide content</a>
    <nav class="bops-table-of-contents" aria-label="Links to page sections">
      <h2 class="govuk-heading-s bops-table-of-contents__title">Contents</h2>
      <% sections.each do |section| %>
        <% next if section[:links].blank? %>

        <% if section[:title].present? %>
          <h3 class="govuk-heading-xs"><%= section[:title] %>:</h3>
        <% end %>

        <ol class="govuk-list govuk-list--dashed">
          <% section[:links].each do |link| %>
            <% next if link.has_key?(:visible) && !link[:visible] %>
            <li><%= govuk_link_to link[:text], link[:href] %></li>
          <% end %>
        </ol>
      <% end %>
    </nav>
  </aside>
<% end %>
