<details class="govuk-details govuk-!-margin-top-3">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Manually add addresses
    </span>
  </summary>
  <div class="govuk-details__text">
    <div class="govuk-!-padding-bottom-5">
      <label for="neighbour-address" class="govuk-heading-s">Search neighbours by address</label>
        <span id="neighbour-address-hint" class="govuk-hint">
          Start typing address or postcode
        </span>
      <div id="neighbour-address-container"></div>
    </div>
  </div>
</details>
