<%= form_with(
  model: consultation,
  class: "govuk-!-margin-top-5",
  id: "consultation-neighbour-addresses-form",
  method: :post,
  url: planning_application_consultation_neighbours_path(planning_application)
) do |form| %>
  <%= form.govuk_text_area :polygon_geojson,
                            label: { class: "govuk-visually-hidden" },
                            class: "govuk-visually-hidden" %>

  <div id="address-container">
    <div class="govuk-!-width-three-quarters govuk-!-margin-top-1">
      <p class="govuk-body address">
      </p>
    </div>
  </div>
  <div id="manual-address-container">
  </div>
  <div id="addresses-hidden">
  </div>
  <div id="manual-addresses-hidden">
  </div>
<% end %>
