<%# locals: (form:) %>
<div id="new-meeting-form">
  <%= form.govuk_date_field(:occurred_on, legend: {text: "Meeting date", size: "s"}) %>
  <%= form.govuk_text_area(:comments, rows: 6, label: {text: "Add notes (optional)", size: "s"}) %>

  <div class="govuk-button-group govuk-!-margin-bottom-0">
    <%= form.govuk_task_button "Add meeting", action: "add_meeting", secondary: true %>
  </div>
</div>
