<td class="govuk-table__cell change-request-list">
  New document
</td>
<td class="govuk-table__cell change-request-list">
  <%= request_sent_at(additional_document_validation_request) %>
</td>
<td class="govuk-table__cell change-request-list">
  <%= additional_document_validation_request.document_request_type %>
</td>
<td class="govuk-table__cell change-request-list">
  <%= additional_document_validation_request.document_request_reason %>
</td>
