$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "govuk-frontend/govuk/all";
@import "components/buttons";
@import "components/flashes";
@import "components/task_list";

.noborder {
  border-bottom: none !important;
}

.govuk-template {
  background-color: white;
}
