$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "govuk-frontend/govuk/all";
@import "components/buttons";
@import "components/flashes";
@import "components/task_list";
@import "proposal";
@import "decision_notice";
@import "planning_applications";
@import "components/documents";

.noborder {
  border-bottom: none !important;
}

.govuk-template {
  background-color: white;
}

.flash-archive {
  border: 5px solid govuk-colour("green");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.corrections-banner {
  border: 5px solid govuk-colour("red");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.alert__icon {
  fill: govuk-colour("red");
  float: left;
  margin-right: govuk-spacing(2);
}

.moj-banner__message {
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;

  h2 {
    margin-bottom: govuk-spacing(2);
  }

  h2:last-child, p:last-child {
    margin-bottom: 0;
  }
}

.planning_application_status {
  padding-left: 0.5em;
}

.task-list-subhead {
  margin-top: 2em;
}

.assignment_cta {
  padding-left: 1em;
}

.numbers {
  margin-bottom: 1em;
}

.display {
  margin-bottom: 1em;
}

.publish {
  margin-bottom: 1em;
}

.moj-banner__assistive {
  @include govuk-visually-hidden;
}

/* Style variants
   ========================================================================== */

.moj-banner--success {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
}

.moj-banner--warning {
  border-color: govuk-colour("red");
  color: govuk-colour("red");
}
