.decision-notice {
  background-color: #f3f2f1;
  border: solid 1px;
  padding: 30px;
  margin-top: 10px;

  dt {
    width: 40%;
  }

  dd {
    width: 60%;
  }

  .map {
    padding-top: 1em;
  }
}

.map {
  page-break-inside: avoid;
  overflow: hidden;
}
