<% if @local_policy.reviews.count > 1 %>
  <details class="govuk-details govuk-!-margin-top-5 govuk-!-margin-bottom-3" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Previous comments
      </span>
    </summary>
    <div class="govuk-details__text">
      <% @local_policy.reviews.reviewed.with_reviewer.each do |comment| %>
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">
          <%= comment.reviewer.name %>
        </p>
        <p class="govuk-body"><%= comment.created_at.to_fs %></p>
        <p class="govuk-body"><strong>Reviewer comment:</strong> <%= comment.comment %></p>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
      <% end %>
    </div>
  </details>
<% end %>
