.tag_checkbox_label,
.archive-data.tags {
  text-transform: uppercase;
}

.confirm-preview {
  margin: 65px 0 0;

  figcaption {
    margin-top: 20px;
  }
}

.current-drawings {
  @include govuk-media-query($from: desktop) {
    .drawing-card.right {
      padding-left: 90px;
    }
  }

  .govuk-grid-row {
    margin-bottom: 26px;
  }
}

.upload-container {
  a, button {
    float: right;
  }
}
