@mixin flash {
  @include govuk-font(19);
}

.flash {
  padding: govuk-spacing(5) 0;
  &.notice {
    @include flash;
    color: govuk-colour("green");
  }
  &.alert {
    @include flash;
    color: $govuk-error-colour;
  }
}
