<div class="govuk-button-group">
  <% if render_publish_button? %>
    <%= govuk_button_link_to t("form_actions.review_and_publish_decision"),
          planning_application_visibility_path(@planning_application),
          aria: {describedby: "publish-completed"} %>
  <% end %>

  <%= govuk_button_link_to "Back", planning_application_path(@planning_application), secondary: true %>
</div>
