<% content_for :page_title do %>
  Existing unit plans - <%= t('page_title') %>
<% end %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
    How to create existing unit plans
  </h1>
  <h2 class="govuk-heading-m">
    Example unit plan
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= image_tag("public/unit_plans/existing.svg", alt: "Existing unit plan example") %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body">
        <h2 class="govuk-heading-m">Your unit plan must</h2>
        <ul>
          <li>
            <strong>Be drawn to scale</strong> Usually 1:100 or 1:50 at A3 or A4 size
          </li>
          <li><strong>Have a scale bar</strong></li>
          <li><strong>Show the direction of North</strong></li>
          <li><strong>Have a unique drawing reference number</strong></li>
        </ul>
        <h2 class="govuk-heading-m">You should show</h2>
        <ul>
          <li>
            <strong>Units</strong> Outline and label (if appropriate) the current unit or units
          </li>
        </ul>
        <p>
          Your application may not be marked as valid if the drawings do not clearly
          and accurately describe the site and the proposed changes.
        </p>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "Back", public_planning_guides_path, class: "govuk-button" %>
  </div>
</div>
