<h2 class="govuk-heading-m">Summary of heads of terms</h2>
<% if @planning_application.heads_of_term.present? %>
  <ol class="govuk-list govuk-list--number">
    <% @planning_application.heads_of_term&.terms.each do |term| %>
      <li>
        <div class="govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-s"><%= term.title %></h2>
          <p class="govuk-body govuk"><%= render(FormattedContentComponent.new(text: term.text)) %></p>
          </p>
        </div>
      </li>
    <% end %>
  </ol>
<% else %>
  <p class="govuk-body">There are no heads of terms.</p>
<% end %>