<% if @validation_requests[:description_change].present? %>
  <li id="description-change-validation-requests">
    <h3 class="app-task-list__section">
      Confirm change to your application description
    </h3>
    <ul class="govuk-task-list">
      <% @validation_requests[:description_change].each do |validation_request| %>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <% if validation_request.open? %>
              <%= govuk_link_to "Check description", edit_description_change_validation_request_path(validation_request.id, access_control_params) %>
            <% else %>
              <%= govuk_link_to "Check description", description_change_validation_request_path(validation_request.id, access_control_params) %>
            <% end %>
          </div>

          <%= render "validation_request_status", validation_request: validation_request %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
