.sortable-list {
  cursor: move;

  .nav-links {
    @include govuk-font($size: 16);

    display: flex;
    padding-top: 10px;

    a, span {
      padding-right: 0.5rem;
    }

    span {
      color: govuk-colour("dark-grey");
    }

    a + a, a + span, span + span, span + a {
      border-left: 1px solid govuk-colour("mid-grey");
      padding-left: 0.5rem;
    }
  }
}

.sortable-list li {
  padding-bottom: 2rem;
  border-bottom: 1px solid govuk-colour("mid-grey");
}

.sortable-container {
  display: flex;
  justify-content: space-between;

  .sortable-list-item {
    width: 98%;
  }
}

.sortable-dragging-list {
  opacity: 0.3;
}

.sortable-dragging-svg {
  fill: #d4351c;
  margin-left: 2rem;
  align-self: center;
}

.sortable-svg {
  fill: govuk-colour("mid-grey");
  margin-left: 2rem;
  align-self: center;
}

button.arrow {
  background-color: transparent;
  border-width: 0;
  color:  govuk-colour("blue");
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  text-decoration: none;
}
.ascending::after {
  content: " ▲";
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}
.descending::after {
  content: " ▼";
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}
.unsorted::before,
.unsorted::after {
  position: absolute;
  right: -2px;
  font-size: 0.5em;
}
.unsorted::before {
  content: " ▼";
  top: 10px;
}
.unsorted::after {
  content: " ▲";
  top: 1px;
}
