.sortable-list {
  cursor: move;

  .nav-links {
    @include govuk-font($size: 16);

    display: flex;
    padding-top: 10px;

    a, span {
      padding-right: 0.5rem;
    }

    span {
      color: govuk-colour("dark-grey");
    }

    a + a, a + span, span + span, span + a {
      border-left: 1px solid govuk-colour("mid-grey");
      padding-left: 0.5rem;
    }
  }
}

.sortable-list li {
  padding-bottom: 2rem;
  border-bottom: 1px solid govuk-colour("mid-grey");
}

.sortable-container {
  display: flex;
  justify-content: space-between;

  .sortable-list-item {
    width: 98%;
  }
}

.sortable-dragging-list {
  opacity: 0.3;
}

.sortable-dragging-svg {
  fill: #d4351c;
  margin-left: 2rem;
  align-self: center;
}

.sortable-svg {
  fill: govuk-colour("mid-grey");
  margin-left: 2rem;
  align-self: center;
}

th a.sort-by {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

th a.sort-by.up,
th a.sort-by.down {
  background: govuk-colour("light-grey");
}
.sort-text {
  margin-right: 6px;
}
.arrow {
  width: 0;
  height: 0;
  border: 6px solid transparent;
}
.right {
  border-left-color: black;
}
.up {
  border-top-width: 0;
  border-bottom-color: black;
}
.down {
  border-bottom-width: 0;
  border-top-color: black;
}
