.status-bar-container {
  width: 100%;
  margin-left: calc(-1 * ((100vw - 100%) / 2));

  &--colored {
    background-color: rgb(202, 222, 237);
  }

  h2 {
    max-width: $govuk-page-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
  }

  .status-bar {
    max-width: $govuk-page-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 3rem;

    .status-panel {
      background-color: govuk-colour("light-grey");
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: inline-block;
      padding: 1rem;

      &--highlighted {
        background-color: white;
        border: 5px solid govuk-colour("yellow");
      }

      h3 {
        margin: 0;
      }

      p {
        margin-bottom: 0;
        margin-top: 0.5em;
      }
    }
  }
}
