.govuk-table__cell.description {
  overflow-wrap: anywhere;
}

.redacted-document-table {
  .govuk-form-group {
    margin-bottom: 0;
  }
}

.activity-log {
  border: 1px solid black;
  padding: 30px;
}
