<% show_controls = true if local_assigns[:show_controls].nil? %>
<% policies = policy_class.policies if local_assigns[:policies].nil? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with(
          model: [planning_application, policy_class],
          html: { data: unsaved_changes_data },
          builder: GOVUKDesignSystemFormBuilder::FormBuilder
        ) do |form| %>
      <%= form.govuk_error_summary %>
      <%= render(
            partial: "policy_classes/table",
            locals: {
              form: form,
              planning_application: planning_application,
              policy_class: policy_class,
              policies: policies,
              editable: editable
            }
          ) %>
      <% if show_controls %>
        <%= render(
              partial: "policy_classes/form_controls",
              locals: {
                form: form,
                planning_application: planning_application,
                policy_class: policy_class,
                editable: editable
              }
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
