<%= render "planning_applications/tabs_layout" do %>
  <div class="govuk-tabs__panel" id="all">
    <%= render PlanningApplications::PanelComponent.new(
          planning_applications: @planning_applications,
          type: :all,
          search: @search,
          tab_route: :all_planning_applications_path
        ) %>
  </div>
<% end %>
