<td class="govuk-table__cell change-request-list">
  Pre-commencement condition
</td>
<td class="govuk-table__cell change-request-list">
  <%= render(FormattedContentComponent.new(text: pre_commencement_condition_validation_request.reason)) %>
</td>
