$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "govuk-frontend/govuk/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min";
@import "components/buttons";
@import "components/flashes";
@import "components/loading_spinner";
@import "components/table";
@import "components/task_list";
@import "proposal";
@import "consultation";
@import "decision_notice";
@import "components/documents";

html * {
  font-family: open-sans, sans-serif !important;
}

.accordion-tr:last-child > td {
  border-bottom: none !important;
}

.govuk-template {
  background-color: white;
}

.govuk-checkboxes__divider {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  width: 40px;
  margin-bottom: govuk-spacing(2);
  text-align: center;
}

.flash-archive {
  border: 5px solid govuk-colour("green");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.corrections-banner {
  border: 5px solid govuk-colour("red");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.validations-banner {
  border: 5px solid govuk-colour("red");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.response-banner {
  border: 5px solid govuk-colour("blue");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.environment-banner {
  background-color: govuk-colour("yellow");
  padding: govuk-spacing(1);
}

.alert__icon {
  fill: govuk-colour("red");
  float: left;
  margin-right: govuk-spacing(2);
}

.info__icon {
  fill: govuk-colour("blue");
  float: left;
  margin-right: govuk-spacing(2);
}

.moj-banner__message {
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;

  h2 {
    margin-bottom: govuk-spacing(2);
  }

  h2:last-child,
  p:last-child {
    margin-bottom: 0;
  }
}

.planning_application_status {
  padding-left: 0.5em;
}

.task-list-subhead {
  margin-top: 2em;
}

.assignment_cta {
  padding-left: 1em;
}

.numbers {
  margin-bottom: 2em;
}

.display {
  margin-bottom: 2em;
}

.publish {
  margin-bottom: 2em;
}

.moj-banner__assistive {
  @include govuk-visually-hidden;
}

.text-align-centre {
  text-align: center;
}

/* Style variants
   ========================================================================== */

.moj-banner--success {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
}

.moj-banner--warning {
  border-color: govuk-colour("red");
  color: govuk-colour("red");
}

.govuk-notification-banner {
  &--alert {
    background-color: $govuk-error-colour;
    border-color: $govuk-error-colour;

    .govuk-notification-banner__link {
      color: $govuk-error-colour;
    }
  }

  &--notice {
    background-color: $govuk-success-colour;
    border-color: $govuk-success-colour;

    .govuk-notification-banner__link {
      color: $govuk-success-colour;
    }
  }
}

.audit_details {
  font-style: italic;
}

.limit-column-width {
  word-wrap: break-word;
  max-width: 150px;
}

.govuk-header__link--homepage {
  margin-bottom: 10px;

  &:hover {
    margin-bottom: 7px;
  }

  &:focus {
    margin-bottom: 10px;
  }
}

.header-session-info {
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    float: right;
  }

  .govuk-header__link {
    font-weight: normal;
    margin-left: 10px;

    @media (min-width: 768px) {
      margin-left: 0;
    }
  }
}

.search-form-inputs {
  display: flex;

  button,
  a {
    height: fit-content;
    margin-left: 10px;
    align-self: flex-end;
  }
}

.policy {
  margin-left: 30px;
}

.policy-class-title,
.policy-description {
  margin-bottom: 3px;
}

.recommendation-event {
  margin-top: 15px;
  border-bottom: 1px solid $govuk-border-colour;

  &:last-child {
    border-bottom: none;
  }
}
.proposal-details-list {
  list-style: none;
  padding-inline-start: 0;

  a {
    font-weight: 400;
    line-height: 40px;
  }
}

.proposal-details-sub-list {
  list-style: none;
  padding-inline-start: 20px;
  line-height: 2;
}

.immunity-details-sub-list {
  list-style: none;
  line-height: 1.5;
  padding-inline-start: 0px;
}

.proposal-detail {
  display: flex;
}

.back-to-top-link {
  display: flex;
  align-items: center;

  p {
    margin: 0 0 0 10px;
  }
}

.proposal-details-sub-heading {
  display: flex;
  justify-content: space-between;
}

.display-none {
  display: none;
}

.button-as-link {
  border: none;
  background: none;
  padding: 0;
  color: #1d70b8;
  font-size: 18px;
  text-decoration: underline;

  &:active {
    color: #0b0c0c;
  }

  &:hover {
    color: #003078;
    cursor: pointer;
  }

  &:focus {
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
    outline: none;
  }
}

.policy-class-scroll-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.next-policy-class-link {
  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.consistency-checklist-form {
  .govuk-radios__conditional {
    margin-bottom: 0;
  }

  .govuk-body-s {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.single-section-accordion {
  .govuk-accordion__controls {
    display: none;
  }
}

.italic {
  font-style: italic;
}

.display-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.bottom-border-none {
  border-bottom: none;
}

.govuk-link__no-underline {
  text-decoration: none;
}

.width-80 {
  width: 80%;
}

.status-bar-container {
  background-color: rgb(202, 222, 237);
  width: calc(100vw);
  margin-left: calc(-1 * ((100vw - 100%) / 2));

  h2 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
  }
}

.status-bar {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  display: flex;
  gap: 3rem;
}

.status-panel {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
  margin-top: 1rem;
  margin-bottom: 1rem;

  h3 {
    margin: 0;
  }
  p {
    text-decoration: underline;
    margin-bottom: 0;
    margin-top: 0.5em;
  }

  .status-filter-link {
    display: inline-block;
    padding: 1rem;
  }
}

.status-panel--highlighted {
  background-color: white;
  border: 5px solid govuk-colour("yellow");
}

body {
  counter-reset: application-step-heading;
}

.application-step-heading::before {
  counter-increment: application-step-heading;
  content: counter(application-step-heading) ". ";
}

.grey-box {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.background-light-grey {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
}
