$govuk-assets-path: "govuk-frontend/dist/govuk/assets/";
$govuk-font-family: open-sans, sans-serif;
$govuk-page-width: 1100px;

@import "govuk-frontend/dist/govuk/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min";
@import "bops_core/components/task_accordion";
@import "components/buttons";
@import "components/documents";
@import "components/flashes";
@import "components/inset_text";
@import "components/loading_spinner";
@import "components/primary_navigation";
@import "components/secondary_navigation";
@import "components/sortable";
@import "components/status_panel";
@import "components/summary_list";
@import "components/table";
@import "components/task_list";
@import "consultation";
@import "decision_notice";
@import "map-constraints";
@import "proposal";

.accordion-tr:last-child > td {
  border-bottom: none !important;
}

.govuk-template {
  background-color: white;
}

.govuk-checkboxes__divider {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  width: 40px;
  margin-bottom: govuk-spacing(2);
  text-align: center;
}

.flash-archive {
  border: 5px solid govuk-colour("green");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.corrections-banner {
  border: 5px solid govuk-colour("red");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.validations-banner {
  border: 5px solid govuk-colour("red");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.response-banner {
  border: 5px solid govuk-colour("blue");
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}

.environment-banner {
  background-color: govuk-colour("yellow");
  padding: govuk-spacing(1);
}

.alert__icon {
  fill: govuk-colour("red");
  float: left;
  margin-right: govuk-spacing(2);
}

.info__icon {
  fill: govuk-colour("blue");
  float: left;
  margin-right: govuk-spacing(2);
}

.moj-banner__message {
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;

  h2 {
    margin-bottom: govuk-spacing(2);
  }

  h2:last-child,
  p:last-child {
    margin-bottom: 0;
  }
}

.planning_application_status {
  padding-left: 0.5em;
}

.task-list-subhead {
  margin-top: 2em;
}

.assignment_cta {
  padding-left: 1em;
}

.numbers {
  margin-bottom: 2em;
}

.display {
  margin-bottom: 2em;
}

.publish {
  margin-bottom: 2em;
}

.moj-banner__assistive {
  @include govuk-visually-hidden;
}

.text-align-centre {
  text-align: center;
}

/* Style variants
   ========================================================================== */

.moj-banner--success {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
}

.moj-banner--warning {
  border-color: govuk-colour("red");
  color: govuk-colour("red");
}

.govuk-notification-banner {
  &--alert {
    background-color: $govuk-error-colour;
    border-color: $govuk-error-colour;

    .govuk-notification-banner__link {
      color: $govuk-error-colour;
    }
  }

  &--notice {
    background-color: $govuk-success-colour;
    border-color: $govuk-success-colour;

    .govuk-notification-banner__link {
      color: $govuk-success-colour;
    }
  }
}

.audit_details {
  font-style: italic;
}

.limit-column-width {
  word-wrap: break-word;
  max-width: 150px;
}

.govuk-header__navigation-item {
  padding: 10px 0px;
}

.govuk-tag {
  max-width: none;
}

.govuk-task-list,
.app-task-list__item {
  .govuk-tag--status-complete,
  .govuk-tag--status-review_complete {
    background-color: transparent;
  }
}

.header-session-info {
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    float: right;
  }

  .govuk-header__link {
    font-weight: normal;
    margin-left: 10px;

    @media (min-width: 768px) {
      margin-left: 0;
    }
  }
}

.search-form-inputs {
  display: flex;

  button,
  a {
    height: fit-content;
    margin-left: 10px;
    align-self: flex-end;
  }
}

.policy {
  margin-left: 30px;
}

.policy-class-title,
.policy-description {
  margin-bottom: 3px;
}

.recommendation-event {
  margin-top: 15px;
  border-bottom: 1px solid $govuk-border-colour;

  &:last-child {
    border-bottom: none;
  }
}
.proposal-details-list {
  list-style: none;
  padding-inline-start: 0;

  a {
    font-weight: 400;
    line-height: 40px;
  }
}

.proposal-details-sub-list {
  list-style: none;
  padding-inline-start: 20px;
  line-height: 2;
}

.immunity-details-sub-list {
  list-style: none;
  line-height: 1.5;
  padding-inline-start: 0px;
}

.proposal-detail {
  display: flex;
}

.back-to-top-link {
  display: flex;
  align-items: center;

  p {
    margin: 0 0 0 10px;
  }
}

.proposal-details-sub-heading {
  display: flex;
  justify-content: space-between;
}

.button-as-link {
  border: none;
  background: none;
  padding: 0;
  color: govuk-colour("blue");
  font-size: inherit;
  text-decoration: underline;

  &:active {
    color: govuk-colour("black");
  }

  &:hover {
    color: govuk-colour("dark-blue");
    cursor: pointer;
  }

  &:focus {
    color: govuk-colour("black");
    background-color: govuk-colour("yellow");
    box-shadow:
      0 -2px govuk-colour("yellow"),
      0 4px govuk-colour("black");
    text-decoration: none;
    outline: none;
  }
}

.policy-class-scroll-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid govuk-colour("dark-grey");
  margin-bottom: 30px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.next-policy-class-link {
  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.consistency-checklist-form {
  .govuk-radios__conditional {
    margin-bottom: 0;
  }

  .govuk-body-s {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.single-section-accordion {
  .govuk-accordion__controls {
    display: none;
  }
}

.italic {
  font-style: italic;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.bottom-border-none {
  border-bottom: none;
}

body {
  counter-reset: application-step-heading;
}

.application-step-heading::before {
  counter-increment: application-step-heading;
  content: counter(application-step-heading) ". ";
}

.grey-box {
  background-color: govuk-colour("light-grey");
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.background-light-grey {
  background-color: govuk-colour("light-grey");
}

.autocomplete__menu {
  font-family: $govuk-font-family;
}

.max-lines {
  cursor: pointer;
  user-select: none;

  &--clamped {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.scrollable {
  overflow-y: auto;
  padding: 3px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

.govuk-\!-column-count-2 {
  @include govuk-media-query($from: tablet) {
    column-count: 2;
    column-fill: balance;
  }

  & > .govuk-checkboxes__item,
  & > .govuk-checkboxes__item {
    break-inside: avoid;
  }

  .govuk-checkboxes__label,
  .govuk-radios__label {
    text-wrap: balance;
  }
}

.govuk-\!-text-wrap-balance {
  text-wrap: balance;
}

.comment-component {
  border-left: 10px solid $govuk-link-colour;
  background-color: #F2F9FF;
}

.govuk-details--borderless {
  .govuk-details__text {
    border-left: none;
    padding-left: 0;
  }
}

.editable-list {
  @include govuk-responsive-margin(2, "top");

  li {
    display: flex;
    justify-content: space-between;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 20px;
      white-space: nowrap;
    }
  }
}

.consideration-details {
  div {
    @include govuk-responsive-margin(0);
    @include govuk-responsive-margin(3, "bottom");
  }

  dt {
    display: inline;
    font-weight: bold;
    margin: 0;

    &:after {
      content: ": ";
    }
  }

  dd {
    display: inline;
    margin: 0;
  }
}

#map-container {
  position: relative;

  #map {
    height: calc(9 / 16 * $govuk-page-width);
  }

  .map-data,
  .map-data-toggle {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .map-data-close {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
    color: govuk-colour("dark-grey");
  }

  .map-data {
    background-color: white;
    border-radius: 0.5rem;
    height: calc(100% - 1rem);
    width: calc($govuk-page-width / 4);
  }

  .map-data-tab {
    margin: 0 0.5rem;
    height: 100%;
  }

  .map-data-scroll-container {
    height: calc(100% - 4rem);
    overflow-y: scroll;
  }

  .govuk-back-link,
  h3 {
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.neighbour-letter-export {
  margin: calc(1.5in);
  width: 72rem;
}
