.consultation-letter-status {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  
  p {
    width: 109px;
  }
}

.neighbour-letter-template {
  border: 1px solid $govuk-border-colour;
  padding: 50px;
  width: 100%;
}

.govuk-accordion__section-content { 
  .neighbour-response-section {
    border-bottom: 1px solid $govuk-border-colour;
  }

  .neighbour-response-section:last-child {
    border-bottom: none;
  }
}

.neighbour-tags {
  width: 12%;
}

.neighbour-response-top-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.neighbour-response-content {
  width: 80%;

  .app-task-list__task-tag {
    float: left;
  }
}

.align-buttons {
  display: flex;
  align-items: center;
}
