.consultation-letter-status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  p {
    width: 109px;
  }
}

.neighbour-letter-template {
  border: 1px solid $govuk-border-colour;
  padding: 50px;
  width: 100%;
}

.govuk-accordion__section-content {
  .neighbour-response-section {
    border-bottom: 1px solid $govuk-border-colour;
  }

  .neighbour-response-section:last-child {
    border-bottom: none;
  }
}

.neighbour-tags {
  width: 12%;
}

.neighbour-response-top-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.neighbour-response-content {
  width: 80%;

  .app-task-list__task-tag {
    float: left;
  }
}

.align-buttons {
  display: flex;
  align-items: center;
}

.consultee-emails {
  .govuk-table__header, .govuk-table__cell {
    border-bottom: none;
  }

  .govuk-table__cell {
    border-top: 1px solid $govuk-border-colour;
  }

  .govuk-table__header--centred , .govuk-table__cell--centred {
    text-align: center;
  }

  .govuk-checkboxes {
    margin-top: 2px;
  }

  .expired {
    color: govuk-colour("red");
  }

  .just-added {
    animation: 1s hilite-added-row
  }
}

.consultee-responses {
  .govuk-inset-text {
    padding-top: govuk-spacing(0);
    padding-bottom: govuk-spacing(1);
    margin-top: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);

    ul li a {
      display: inline-block;
      margin: 0;
      margin-top: govuk-spacing(1);
      margin-right: govuk-spacing(2);
    }
  }

  .govuk-inset-text + p {
    a {
      display: inline-block;
      margin: 0;
      margin-top: govuk-spacing(1);
      margin-right: govuk-spacing(2);
    }
  }
}

@keyframes hilite-added-row {
  0% {
    background: govuk-tint($govuk-success-colour, 90%);
  }

  100% {
    background: initial;
  }
}

#selected-neighbours-list {
  .govuk-table {
    height: 600px; 
    overflow-y: scroll; 
    display: block;

    thead {
      z-index: 1;

      &:first-of-type {
        position: sticky; 
        top: 0; 
        background: white
      }
    }

    .govuk-table__cell {
      padding: 15px 20px 15px 0;
    }
  }
}

#selected-neighbours-table {
  border: 1px solid $govuk-border-colour;
  padding: 0 5px;
}

#neighbour-response-accordion {
  .govuk-accordion__controls {
    display: none;
  }

  .govuk-accordion__section {
    border-bottom: 1px solid $govuk-border-colour;
  }

  .neighbour-response {
    border-bottom: 1px solid $govuk-border-colour;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .neighbour-response-section {
    border-bottom: none;
  }

  .govuk-accordion__section-content {
    padding-bottom: 0px;
  }
}
