.consultation-letter-status {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  
  p {
    width: 109px;
  }
}

.neighbour-letter-template {
  border: 1px solid grey;
  padding: 50px;
}

.neighbour-response-section {
  width: 40%;

  .app-task-list__task-tag {
    float: left
  }
}
