.govuk-template:has(.bops-fullwidth-container) {
  overflow-y: hidden;
}

body:has(.bops-fullwidth-container) {
  --sidebar-width: 300px;

  height: 100vh;
  margin: 0;
  overflow: hidden;

  display: grid;

  .bops-fullwidth-container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    overflow: hidden;
    height: 100%;

    main {
      overflow-y: auto;
      grid-column: 1 / 3;
    }

    .bops-sidebar {
      padding: 15px;
      border-right: 1px solid $govuk-border-colour;
      overflow-y: auto;
    }
  }

  .bops-fullwidth-container:has(.bops-sidebar) {
    main {
      grid-column: 2;
    }
  }
}

.govuk-breadcrumbs {
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid $govuk-border-colour;
  background-color: white;
}

#preview-report-button-link {
  width: 100%;
}
