.govuk-template:has(.bops-fullwidth-container) {
  overflow-y: hidden;
}

body:has(.bops-fullwidth-container) {
  $sidebar-width: 320px;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  // Remove max-width constraint on header for sidebar pages
  .govuk-header .govuk-width-container {
    max-width: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .govuk-main-wrapper {
    padding-top: 0;
  }

  .bops-fullwidth-container {
    display: grid;
    grid-template-columns: $sidebar-width 1fr;
    overflow: hidden;
    height: 100%;

    main {
      overflow-y: auto;
      grid-column: 1 / 3;
    }

    .bops-sidebar {
      padding: 20px;
      border-right: 1px solid $bops-blue-border;
      overflow-y: auto;
      background-color: $bops-light-blue-background;
      @include govuk-font($size: 16);

      .govuk-link {
        @include govuk-font($size: 16);
        text-decoration: none;

        &:visited {
          color: $govuk-link-colour;
        }

        &:active,
        &[aria-current="page"] {
          color: #0b0c0c;
        }
      }
    }
  }

  .bops-fullwidth-container:has(.bops-sidebar) {
    main {
      grid-column: 2;
    }
  }

  @media (min-width: 1160px) {
    .govuk-width-container {
      margin-right: 30px;
      margin-left: 30px;
    }

    @supports (margin: max(calc(0px))) {
      .govuk-width-container {
        margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
        margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
      }
    }
  }

  @media (min-width: calc($sidebar-width + 1160px)) {
    .govuk-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .govuk-breadcrumbs {
    padding: 0;
    margin-block: 30px;
    background-color: white;
    border: none;
  }
}

#preview-report-button-link {
  width: 100%;
}

.bops-sidebar .govuk-list.govuk-list--spaced > .bops-sidebar__task {
  display: flex;
  align-items: center;
  gap: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  border-bottom: 1px solid $bops-blue-border;

  &.bops-sidebar__task--active .govuk-link {
    font-weight: bold;
  }
}

.bops-sidebar ul h3 {
  @include govuk-font($size: 16);
  font-weight: normal !important;
  color: $govuk-secondary-text-colour;
}

.bops-sidebar__task-icon {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  line-height: 0;
}
