.govuk-template:has(.bops-fullwidth-container) {
  overflow-y: hidden;
}

body:has(.bops-fullwidth-container) {
  $sidebar-width: 300px;

  height: 100vh;
  margin: 0;
  overflow: hidden;

  display: grid;

  .govuk-main-wrapper {
    padding-top: 0;
  }

  .bops-fullwidth-container {
    display: grid;
    grid-template-columns: $sidebar-width 1fr;
    overflow: hidden;
    height: 100%;

    main {
      overflow-y: auto;
      grid-column: 1 / 3;
    }

    .bops-sidebar {
      padding: 15px;
      border-right: 1px solid $govuk-border-colour;
      overflow-y: auto;
    }
  }

  .bops-fullwidth-container:has(.bops-sidebar) {
    main {
      grid-column: 2;
    }
  }

  @media (min-width: 1160px) {
    .govuk-width-container {
      margin-right: 30px;
      margin-left: 30px;
    }

    @supports (margin: max(calc(0px))) {
      .govuk-width-container {
        margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
        margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
      }
    }
  }

  @media (min-width: calc($sidebar-width + 1160px)) {
    .govuk-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .govuk-breadcrumbs {
    padding: 0;
    margin-block: 30px;
    background-color: white;
    border: none;
  }
}

#preview-report-button-link {
  width: 100%;
}

.bops-sidebar__task {
  display: flex;
  align-items: center;
  gap: govuk-spacing(2);
}

.bops-sidebar__task-icon {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  line-height: 0;
}
