<h3><%= t(".list_of_who") %><h3>
<table class="govuk-table">
  <tbody class="govuk-table__body">
    <% consultees.each do |consultee| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= consultee.name %></th>
        <td class="govuk-table__cell">
          <%= consultee.external? ? t(".external") : t(".internal")  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
