<p>Dear <%= @user.name %>,</p>

<p>Welcome to the Back-office Planning System for <%= @user.local_authority %></p>

<p>You can confirm your account and set a password through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, subdomain: @resource.local_authority.subdomain, confirmation_token: @token) %></p>

<p>The link will expire in 3 days.</p>
