<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Applicant information</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Question</th>
      <th scope="col" class="govuk-table__header">Applicant response</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% immunity_details.each do |proposal_detail| %>
      <% proposal_detail.response_values.each do |response_value| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <%= proposal_detail.question %>
          </th>
          <td class="govuk-table__cell">
            <%= response_value.to_time.nil? ? response_value : response_value.to_time.to_fs(:day_month_year_slashes) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
