<a href="<%= sort_link(attribute) %>" class="sort-by <%= sort_class(attribute, params[:sort_key]) %>">
  <span class="sort-text"><%= attribute.humanize %></span>
  <span class="arrow <%= sort_class(attribute, params[:sort_key]) %>"></span>
</a>
