<h2>Updated</h2>

<p>This list shows applications which have been recently updated by a user other than the assigned officer.</p>

<%= render(
      PlanningApplications::SearchComponent.new(
        panel_type: :updated,
        search: search,
        tab_route: tab_route
      )
    ) %>
<% if audits.empty? %>
  <p><%= t(".no_planning_applications") %></p>
<% else %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <% attributes.each do |attribute| %>
          <th scope="col" class="govuk-table__header">
            <%= I18n.t("planning_applications.panel_component.#{attribute}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% audits.each do |audit| %>
        <%= render(
              PlanningApplications::RowComponent.new(
                planning_application: audit.planning_application,
                attributes: attributes,
                audit: audit
              )
            ) %>
      <% end %>
    </tbody>
  </table>
<% end %>
