<% if @local_policy.review_local_polices_with_comments.any? %>
  <div class="govuk-inset-text" id="reviewer_comment">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
      Reviewer comment:
    </p>
    <p class="govuk-body govuk-!-margin-top-1"><%= @reviewer_comment.created_at.to_fs %></p>
    <p class="govuk-body italic"><%=  @reviewer_comment.comment %></p>
  </div>
<% end %>
