<% if @planning_application.local_authority.planning_policy_and_guidance? %>
  <p class="govuk-body">
    <%= govuk_link_to @planning_application.local_authority.planning_policy_and_guidance, new_tab: "" do %>
      Check your local policies and guidance in a new tab
    <% end %>
  </p>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to "View draft decision notice (in a new tab)", decision_notice_planning_application_path(@planning_application), new_tab: "" %>
</p>
