<% if current_user.present? && controller_path != "public/planning_guides" %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <%= render(
            partial: "create_breadcrumb_navigation",
            locals: { nav: nav }
          ) %>
        </ol>
      </div>
    </div>
  </div>
<% end %>
