<div class="govuk-grid-column-two-thirds">
  <div class="govuk-grid-row">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <%= create_breadcrumbs %>
      </ol>
    </div>
  </div>
</div>
<div class="govuk-grid-column-one-third">
  <p class="govuk-breadcrumbs" style="float: right; margin: 20px 0 30px 100px;">
    <%= link_to_if(user_signed_in?, "Log out", destroy_user_session_path, method: :delete) %>
  </p>
</div>
