<% if current_user %>
  <% unless nav.length > 1 %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "govuk-button_link", dataModule:"govuk-button" %>
      </div>
    </div>
  <% else %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <%= render "create_breadcrumb_navigation", nav: nav %>
          </ol>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <% if user_signed_in? %>
          <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "govuk-button_link", dataModule:"govuk-button" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
