<% nav.each do |n| %>
  <div class="govuk-breadcrumbs__list-item" aria-current="page">
    <%= link_to n[:title], n[:path], class: "govuk-button__link" %>
  </div>
<% end %>

<div class="govuk-breadcrumbs__list-item" aria-current="page">
  <%= yield :title %>
</div>
