<% nav.each do |n| %>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">
    <%= link_to n[:title], n[:path], class: "govuk-breadcrumbs__link" %>
  </li>
<% end %>

<li class="govuk-breadcrumbs__list-item" aria-current="page">
  <%= yield :title %>
</li>
