<% if alert %>
  <div class="govuk-notification-banner govuk-notification-banner--alert" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Error
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        There is a problem
      </h3>
      <%= simple_format(alert, class: "govuk-body") %>
    </div>
  </div>
<% elsif notice %>
  <div class="govuk-notification-banner govuk-notification-banner--notice" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <%= simple_format(notice, class: "govuk-body") %>
    </div>
  </div>
<% end %>
