<% flash.each do |name, msg| %>
  <div class="govuk-width-container">
    <div class="flash <%= name %>">
      <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">
        <%= msg %>
      </p>
    </div>
  </div>
<% end %>
