<footer class="govuk-footer app-footer">
  <div class="govuk-width-container app-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <% if current_local_authority %>
            <li class="govuk-footer__inline-list-item">
              <%= tag.a href: "mailto:#{current_local_authority.feedback_email}", class: "govuk-footer__link" do %>
                Contact
              <% end %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
  </div>
</footer>
