<h2 class="govuk-heading-m govuk-!-margin-top-6 application-step-heading">Consultation</h2>
<%= govuk_task_list(id_prefix: "consultation-section", html_attributes: {id: "consultation-section"}) do |task_list|
      task_list.with_item(title: "Consultees, neighbours and publicity",
        href: planning_application_consultation_path(@planning_application),
        status: render(StatusTags::BaseComponent.new(status: @planning_application.consultation.status)))
    end %>
