<h2 class="govuk-heading-m govuk-!-margin-top-6">2. Consultation</h2>
<ul class="app-task-list__items" id="consultation-section">
  <% if @planning_application.validated? %>
    <%= render(
      TaskListItems::SendLettersToNeighboursComponent.new(
        planning_application: @planning_application
      )
    ) %>
  <% else %>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= t(".send_letters_to_neighbours") %>
      </span>
      <%= render(
        StatusTags::BaseComponent.new(
          status: "not_started"
        )
      ) %>
    </li>
  <% end %>
</ul>
