<h2 class="govuk-heading-m govuk-!-margin-top-6 application-step-heading">Consultation</h2>
<ul class="app-task-list__items" id="consultation-section">
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <%= link_to "Publicity", planning_application_publicitys_path(@planning_application), class: "govuk-link" %>
    </span>
  </li>
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <%= link_to "Consultation", planning_application_consultations_path(@planning_application), class: "govuk-link" %>
    </span>
  </li>
</ul>
