<h2 class="govuk-heading-m govuk-!-margin-top-6">2. Consultation</h2>
<ul class="app-task-list__items" id="consultation-section">
  <%= render(
    TaskListItems::SendLettersToNeighboursComponent.new(
      planning_application: @planning_application
    )
  ) %>
  <%= render(
    TaskListItems::UploadNeighbourResponsesComponent.new(
      planning_application: @planning_application
    )
  ) %>
  <% if consultation = @planning_application.consultation %>
    <% if consultation.site_visits.any? || consultation.neighbour_responses.objection.any? %>
      <%= render(
        TaskListItems::SiteVisitComponent.new(
          planning_application: @planning_application
        )
      ) %>
    <% end %>
  <% end %>
</ul>
