<h2 class="govuk-heading-m govuk-!-margin-top-9 application-step-heading">Consultation</h2>
<%= govuk_task_list(id_prefix: "consultation-section", html_attributes: {id: "consultation-section"}) do |task_list|
      task_list.with_item(title: consultation_task_title(@planning_application),
        href: @planning_application.validated? && planning_application_consultation_path(@planning_application)) do |item|
        if @planning_application.validated?
          item.with_status(text: render(StatusTags::BaseComponent.new(status: @planning_application.consultation.status)))
        else
          item.with_status(text: "Cannot start yet", cannot_start_yet: true)
        end
      end
    end %>
