<p class="govuk-body govuk-!-margin-top-5">
  <% if @pre_commencement %>
    Add pre-commencement conditions. These will be sent to the applicant for approval. If the applicant does not respond within 10 days these conditions will be auto-approved.
  <% else %>
    Select and add the relevant conditions
  <% end %>
</p>

<%= render "shared/warning_text", message: "This information WILL be made publicly available." %>
<%= render "form" %>
