<%= render "application/head" %>
<div class="display-flex">
  <div class="neighbour-letter-export">
    <div class="govuk-body govuk-!-text-align-right govuk-!-margin-bottom-6">
      [address]
    </div>
    <div class="govuk-body govuk-!-margin-bottom-6">
      <%= @batch.created_at.to_date.to_fs %>
    </div>
    <div class="govuk-body govuk-!-margin-bottom-6">
      <%= @batch.text %>
    </div>
  </div>
</div>
