<%= render "task_header", task: @task %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(PlanningApplications::ImmunityDetailsComponent.new(immunity_details: @planning_application.immune_proposal_details)) %>

    <% @form.previous_reviewer_comments.each do |review| %>
      <%= render(ReviewerCommentComponent.new(comment: review)) %>
    <% end %>

    <%= render(
          EvidenceGroups::AccordionComponent.new(
            planning_application: @planning_application,
            sections: @form.evidence_groups,
            editable: !@form.read_only?,
            url: @form.url,
            show_submit_buttons: false
          )
        ) %>

    <% unless @planning_application.determined? || @form.read_only? %>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" name="task_action" value="save_and_complete" form="immunity-detail-evidence-groups" data-module="govuk-button">
          Save and mark as complete
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" name="task_action" value="save_draft" form="immunity-detail-evidence-groups" data-module="govuk-button">
          Save changes
        </button>
      </div>
    <% end %>
  </div>
</div>
