<div class="govuk-form-group" id="received-at">
  <%= form.govuk_date_field :received_at, 
    received_at: true, 
    legend: { text: 'Date received' }, 
    hint: { text: 'For example, 1 11 2021' } %>
</div>

