---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    strategy:
      matrix:
        task:
          - brakeman
          - rubocop
          - biome
          - erblint
          - language_versions
      fail-fast: false
    env:
      BUNDLE_WITHOUT: development
      PUPPETEER_SKIP_DOWNLOAD: true
      RAILS_ENV: test

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
      - run: yarn install

      - name: Lint with ${{ matrix.task }}
        run: |
          bundle exec rake ${{ matrix.task }}

  specs:
    uses: ./.github/workflows/testing.yml
    strategy:
      matrix:
        specs:
          - { group: "models" }
          - { group: "requests", want_pdf: true }
          - {
              group: "system: rack_test",
              directories: "system",
              additional_spec_opts: "--tag '~capybara' --tag '~js'",
              want_pdf: true,
            }
          - {
              group: "system: capybara",
              directories: "system",
              additional_spec_opts: "--tag 'capybara' --tag 'js'",
              want_pdf: true,
            }
          - { group: "components", want_pdf: true }
          - {
              group: "other",
              directories: "{controllers,form_models,helpers,presenters,mailer,jobs,services,translations}",
            }
          - { group: "bops_admin", module: "engines" }
          - { group: "bops_api", module: "engines" }
          - { group: "bops_config", module: "engines" }
          - { group: "bops_core", module: "engines" }
          - { group: "bops_uploads", module: "engines" }
      fail-fast: false
    with:
      name: "${{matrix.specs.group}}"
      include: "${{matrix.specs.module || 'spec'}}/${{matrix.specs.directories || matrix.specs.group}}/${{matrix.specs.pattern || '**/*_spec.rb'}}"
      want-pdf: "${{ !!matrix.specs.want_pdf }}"
      additional_spec_opts: "${{ matrix.specs.additional_spec_opts }}"
    secrets: inherit

  cucumber:
    uses: ./.github/workflows/testing.yml
    with:
      name: "all"
      test-runner: "cucumber"
      want-pdf: true
    secrets: inherit

  docker-dnsmasq:
    uses: ./.github/workflows/testing.yml
    with:
      name: "all"
      test-runner: "docker"
      dockerfile: docker/dnsmasq/Dockerfile
      context: docker/dnsmasq
    secrets: inherit

  docker-postgis:
    uses: ./.github/workflows/testing.yml
    with:
      name: "all"
      test-runner: "docker"
      dockerfile: docker/postgis/Dockerfile
      context: docker/postgis
    secrets: inherit

  docker-ruby:
    uses: ./.github/workflows/testing.yml
    with:
      name: "all"
      test-runner: "docker"
      dockerfile: docker/ruby/Dockerfile
      context: docker/ruby
    secrets: inherit

  docker-prod:
    uses: ./.github/workflows/testing.yml
    with:
      name: "all"
      test-runner: "docker"
      dockerfile: Dockerfile.production
    secrets: inherit
