---
name: CI

on: [push, pull_request]

jobs:
  brakeman:
    uses: ./.github/workflows/linters.yml
    with:
      brakeman: true

  bundle-audit:
    uses: ./.github/workflows/linters.yml
    with:
      bundler-audit: true

  rubocop:
    uses: ./.github/workflows/linters.yml
    with:
      rubocop: true

  specs-models-1:
    uses: ./.github/workflows/testing.yml
    with:
      name: "1"
      include: "spec/models/**/[a-p]*_spec.rb"
    secrets: inherit

  specs-models-2:
    uses: ./.github/workflows/testing.yml
    with:
      name: "2"
      include: "spec/models/**/[q-z]*_spec.rb"
    secrets: inherit

  specs-controllers:
    uses: ./.github/workflows/testing.yml
    with:
      name: "all"
      include: "spec/controllers/*_spec.rb"
    secrets: inherit

  specs-requests:
    uses: ./.github/workflows/testing.yml
    with:
      name: "all"
      include: "spec/requests/**/*_spec.rb"
    secrets: inherit

  specs-other:
    uses: ./.github/workflows/testing.yml
    with:
      name: "all"
      include: "spec/{helpers,presenters,mailer,jobs,services,translations}/**/*_spec.rb"
    secrets: inherit

  system-test-1:
    uses: ./.github/workflows/testing.yml
    with:
      name: "1"
      include: "spec/system/**/a[a-s]*_spec.rb"
    secrets: inherit

  system-test-2:
    uses: ./.github/workflows/testing.yml
    with:
      name: "2"
      include: "spec/system/**/a[t-z]*_spec.rb"
    secrets: inherit

  system-test-3:
    uses: ./.github/workflows/testing.yml
    with:
      name: "3"
      include: "spec/system/**/[b-f]*_spec.rb"
    secrets: inherit

  system-test-4:
    uses: ./.github/workflows/testing.yml
    with:
      name: "4"
      include: "spec/system/**/[g-k]*_spec.rb"
    secrets: inherit

  system-test-5:
    uses: ./.github/workflows/testing.yml
    with:
      name: "5"
      include: "spec/system/**/[l-r]*_spec.rb"
    secrets: inherit

  system-test-6:
    uses: ./.github/workflows/testing.yml
    with:
      name: "6"
      include: "spec/system/**/[s-z]*_spec.rb"
    secrets: inherit

  cucumber:
    uses: ./.github/workflows/testing.yml
    with:
      name: "all"
      test-runner: "cucumber"
    secrets: inherit
