---
name: CI

on: [push, pull_request]

jobs:
  bundle-audit:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.5.16
        ports: ["11211:11211"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Check bundle for known CVEs
        run: |
          bundle exec bundle-audit

  brakeman:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.5.16
        ports: ["11211:11211"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Analyse code for vulnerabilities
        run: bundle exec brakeman

  rubocop:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.5.16
        ports: ["11211:11211"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Analyse code for formatting
        run: bundle exec rubocop

  spec-controllers:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.5.16
        ports: ["11211:11211"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run specs
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/test
          RAILS_ENV: test
          SPEC_OPTS: "-f doc -P spec/controllers/*_spec.rb"
        run: |
          bundle exec rake spec:controllers

  spec-models:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.5.16
        ports: ["11211:11211"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run specs
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/test
          RAILS_ENV: test
          SPEC_OPTS: "-f doc -P spec/models/**/*_spec.rb"
        run: |
          bundle exec rake spec:models

  spec-requests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.5.16
        ports: ["11211:11211"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "yarn"

      - name: Install JS deps
        run: yarn install

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run specs
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/test
          RAILS_ENV: test
          SPEC_OPTS: "-f doc -P spec/requests/**/*_spec.rb"
        run: |
          bundle exec rake spec:requests

  spec-other:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.5.16
        ports: ["11211:11211"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run specs
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/test
          RAILS_ENV: test
          SPEC_OPTS: "-f doc -P spec/{helpers,presenters,mailer,jobs}/**/*_spec.rb"
        run: |
          bundle exec rake spec

  spec-system:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.5.16
        ports: ["11211:11211"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "yarn"

      - name: Install JS deps
        run: yarn install

      - name: Install file previewing tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ghostscript poppler-utils

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run specs
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/test
          RAILS_ENV: test
          SPEC_OPTS: "-f doc -P spec/system/**/*_spec.rb"
        run: |
          bundle exec rake spec

  cucumber:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      memcached:
        image: memcached:1.5.16
        ports: ["11211:11211"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "yarn"

      - name: Install JS deps
        run: yarn install

      - name: Install file previewing tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ghostscript poppler-utils

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run cucumber specs
        env:
          CUCUMBER_FORMAT: pretty
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/test
          RAILS_ENV: test
        run: |
          bundle exec cucumber
