---
name: Deploy to staging

on:
  release:
    types: [prereleased]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to staging
    uses: ./.github/workflows/deploy-environment.yml
    with:
      environment-name: "staging"
    secrets: inherit
