---
name: Verify

on:
  workflow_call:
    inputs:
      brakeman:
        type: boolean
        default: false
      rubocop:
        type: boolean
        default: false
      biome:
        type: boolean
        default: false
      language-versions:
        type: boolean
        default: false

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: development
      RAILS_ENV: test

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
      - run: yarn install

      - name: Analyse code for vulnerabilities
        if: ${{ inputs.brakeman == true }}
        run: |
          bundle exec brakeman

      - name: Analyse code for formatting
        if: ${{ inputs.rubocop == true }}
        run: |
          ${{ inputs.run-before-linters }}
          bundle exec rubocop

      - name: Run linters - Biome
        if: ${{ inputs.biome == true }}
        run: |
          ${{ inputs.run-before-linters }}
          bundle exec rake biome

      - name: Ensure language versions match
        if: ${{ inputs.language-versions == true }}
        run: |
          NODE_VERSION=$(cat .node-version)
          if ! grep -q "^ARG NODE_VERSION=$NODE_VERSION" docker/ruby/Dockerfile; then
            echo "Dockerfile has wrong node: $(grep '^ARG NODE_MAJOR' docker/ruby/Dockerfile)" >&2
            exit 1
          fi
          if ! grep -q "^ARG NODE_VERSION=$NODE_VERSION" Dockerfile.production; then
            echo "Dockerfile.production has wrong node: $(grep '^ARG NODE_MAJOR' Dockerfile.production)" >&2
            exit 1
          fi

          RUBY_VERSION=$(cat .ruby-version)
          if ! grep -q "^ARG RUBY_VERSION=$RUBY_VERSION" docker/ruby/Dockerfile; then
            echo "Dockerfile has wrong ruby: $(grep '^FROM ruby:' docker/ruby/Dockerfile)" >&2
            exit 1
          fi
          if ! grep -q "^ARG RUBY_VERSION=$RUBY_VERSION" Dockerfile.production; then
            echo "Dockerfile.production has wrong ruby: $(grep '^ARG RUBY_VERSION' Dockerfile.production)" >&2
            exit 1
          fi
